[2020-05-20 15:26] EverlastingBugstopper commented on #1292
Hey @PierBover - I think this error squashing should have been fixed in the latest release. Have you upgraded to 1.9.0 and are still seeing this?

As for the `Your JavaScript project is missing a package.json`, you will need a `package.json` with the file you want to upload defined in the `"main"` field. So if you're uploading `index.js`, your package.json would need

[code]

[2020-05-20 15:32] EverlastingBugstopper commented on #1293
Hey so good news! We already let you specify any string in the toml as an environment variable with the `CF_` prefix. So, for name it would be `CF_NAME = "prod"`. That should be a pretty workable mid-term solution for ya.

This is definitely an interesting proposal for something more long term and might even help with something like #1282 and/or #1229

cc @ashleymichal @ispivey @rita3ko - this is

[2020-05-20 15:33] PierBover commented on #1292
Hey @EverlastingBugstopper I'm using:

I do know I need a `package.json` :)

But `dev` should have told me that the issue is a missing `package.json` file or a problem with the session/token, no?

[2020-05-20 15:35] EverlastingBugstopper commented on #1295
Hey thanks for the report! I actually _just_ fixed this one up and it should be going in the next release. Hang tight!

[2020-05-20 15:35] #1295 closed

[2020-05-20 15:40] EverlastingBugstopper commented on #1292
Yup! So the latest version is actually just 1.9.0 so if you upgrade, it _should_ give you the proper error message

[2020-05-20 15:42] PierBover commented on #1292
Ooops gotcha!

I'll update and reopen if I find the issue again.

[2020-05-20 15:42] #1292 closed

[2020-05-20 16:48] GregBrimble commented on #1047
@ispivey, I'll check it out, thanks for the heads-up!

@EverlastingBugstopper, no worries—thanks for getting back to me! I'll find some minimal repro steps and get them filed later this week(/end) :)

[2020-05-20 18:13] danbars commented on #1295
Super! when is the next release expected?

[2020-05-20 19:25] EverlastingBugstopper commented on #1295
probably tomorrow :)

[2020-05-20 19:27] #1147 closed

[2020-05-21 09:17] amio opened #1308 "Somehow I wrote 2 values with same key"
### 🐛 Bug Report

Now it's two kv pairs in the storage, with same key:

![image](https://user-images.githubusercontent.com/215282/82543549-4db74200-9b86-11ea-9c05-8528c8b83646.png)

From wrangler cli it returns first value:

[code]

#### Environment

* operating system: OS X 10.15.4
* output of `rustc -V`: 1.43.1
* output of `node -v`: 14.0.0
* output of `wrangler -V`: 1.9.0
* contents of `wrangle

[2020-05-21 14:28] ispivey commented on #1308
@amio , it looks like those are two different keys:
* suffix `-latest-version`
* suffix `-lasest-version`

[2020-05-21 14:54] #1308 closed

[2020-05-21 18:18] ispivey commented on #1047
@GregBrimble @PierBover (and other watchers), check out the 1.9.1 release! @EverlastingBugstopper made a bunch of big performance and error handling improvements for `dev`. Curious to hear if this further improves your experience.

[2020-05-21 18:22] PierBover commented on #1047
Thanks @ispivey already using it!

So far it does improve the experience considerably.

[2020-05-21 19:25] #975 closed

[2020-05-21 20:13] dmcgowan commented on #1229
@ashleymichal yeah, I think #1064 would also solve my use case

[2020-05-22 02:33] jayphelps commented on #902
This nearly gave me a heart attack 🤣 I thought at first I had been hacked.

[2020-05-22 07:26] kpalmvik commented on #1191
Any update on this issue @ashleymichal? This is also preventing us from using Workers Sites in production, and it would be great to know if it will be solved in the near future.

[2020-05-22 14:22] bradyjoslin commented on #1138
What do you think about this change as a way to handle?

Current:

https://github.com/cloudflare/wrangler/blob/9ce660f1d2a75e0e696a378449524a3a516845c2/src/preview/upload.rs#L177

Proposed:

[code]

[2020-05-25 04:12] PierBover opened #1320 "[dev] console.log() messages stop being printed"
### 🐛 Bug Report

So once I get this message from `dev` I get no more `console.log` messages:

I still get the usual `dev` messages. Eg:
[code]

This has happened to me two or three time since I updated to `1.9.1`. I think this never happened before updating but I'm not 100% certain.

[2020-05-26 05:32] jdanyow opened #1321 ""javascript" worker site is still using webpack"
### 🐛 Bug Report

I'm using the `javascript` type in my wrangler.toml but wrangler still runs webpack on my script.

There are similar issues where folks from Cloudflare have stated this would be a bug:
https://github.com/cloudflare/wrangler/issues/1287#issuecomment-631097951

#### Environment

* ubuntu
* node v13.14.0
* wrangler 1.9.1

[code]

#### Steps to reproduce

`wrangler publish` results i

[2020-05-26 05:53] jdanyow commented on #1321
Came across this issue:
https://github.com/cloudflare/wrangler/issues/954#issuecomment-567858596

And this:
https://github.com/cloudflare/wrangler/blob/master/src/settings/toml/manifest.rs#L181-L185

Would it be possible to remove these lines? I have my own static asset handler.

[code]

[2020-05-26 15:36] EverlastingBugstopper commented on #1321
ooooooo - now i see why it would do this. We use webpack for Workers Sites because the worker itself imports packages and we need to combine those packages into a single script.

I can totally see how this is confusing and I don't think we document this anywhere. That being said I don't think there's any way to get it to _not_ use webpack for Workers Sites given the constraints.

cc @ashleymichal

[2020-05-26 15:41] EverlastingBugstopper commented on #1321
your use case is interesting though - i guess if you have your own custom static asset handler it feels like it should be possible to override...

[2020-05-26 15:42] ashleymichal commented on #1321
i'm going to pull this under the wrangler build milestone, since it's again about giving control to users over their build. i'll be writing an RFC for that this week.

[2020-05-26 15:43] EverlastingBugstopper commented on #1138
seems good to me @bradyjoslin 😄

[2020-05-26 16:01] EverlastingBugstopper opened #1322 "piping to wrangler secret put is broken in 1.9.1"
### 🐛 Bug Report

#### Environment

* operating system:
* output of `rustc -V`:
* output of `node -v`:
* output of `wrangler -V`:
* contents of `wrangler.toml`

#### Steps to reproduce

install wrangler 1.9.1, `cat somefile.txt | wrangler secret put INPUT`

#### What did you expect to see?

[code]

#### What did you see instead?

[code]

[2020-05-26 17:56] #1322 closed

[2020-05-26 18:46] EverlastingBugstopper commented on #1320
🤔  hmmm - this is a rough one. definitely don't like to see it but I'm not entirely sure what's happening here as I can't seem to reproduce the issue!

are you logging something a bit strange? it's possible that the devtools protocol parser is just dropping some messages. if you could get it to reproduce with `RUST_LOG=debug` and paste the logs that would be _super_ helpful

[2020-05-26 18:49] PierBover commented on #1320
Ok, I'll see if I can reproduce it and give you all the info I can.

[2020-05-26 21:48] EverlastingBugstopper commented on #1157
This is probably worth refactoring to use the logic in `wrangler whoami` to let folks know exactly which permissions they're missing

[2020-05-27 07:36] danbars commented on #1047
Hey, `wrangler dev` seem to be very slow in picking up changes. I have to wait 30-60 seconds after saving a file before I see `Detected changes...` log line.
This is consistent with every run.
I'm currently using 1.9.2, but it was the same in previous versions that I used (1.8.1 I think was the prev one)

[2020-05-27 13:47] PierBover commented on #1047
That's a lot @danbars . Personally I've never seen that. At the most it takes 2-3 seconds.

You should probably open a new issue with more details about your setup.

[2020-05-27 14:49] EverlastingBugstopper commented on #745
first attempt to do this in #849 didn't pan out. will try again with a new approach

[2020-05-27 14:50] EverlastingBugstopper opened #1327 "document using wasm-pack-plugin with webpack type project"
combine es modules with rust

https://github.com/wasm-tool/wasm-pack-plugin

[2020-05-27 15:27] jspspike commented on #1157
I'll take a look at this one

[2020-05-27 19:16] EverlastingBugstopper commented on #1032
ok - i've kinda dropped the ball on actually starting implementation on this one/nailing down exact design.

@ashleymichal I really like the idea of being explicit here and adding the idea of a preview namespace to `wrangler.toml`. i also think we could combine it with environment variables to allow individual developers to each have their own preview namespace, which would solve the problem of ha

[2020-05-27 19:37] jspspike commented on #1157
Looking at what the api response is now the messages seem pretty clear on what permissions are missing or if your API token doesn't have access. On request of @EverlastingBugstopper I'll make a PR to clean up the messages so they look like so:

`Error: ApiErrors ["user is missing required permission \"#worker:edit\""]`
`Error: ApiErrors ["Authentication error"]`

[2020-05-27 19:54] jahands opened #1330 "[dev] return granular API error messages"
### 🐛 Bug Report
Wrangler Dev command won't work if Cloudflare API is down, is there a technical reason to require something from the Cloudflare API for testing locally?

#### Environment

* operating system:
WSL1 on Windows 10
* output of `rustc -V`:
Not installed
* output of `node -v`:
v8.10.0
* output of `wrangler -V`:
wrangler 1.9.0-rc.1
* contents of `wrangler.toml`
[code]
#### Steps to repro

[2020-05-27 20:03] jahands commented on #1330
Upon further investigation, it turns out it's not that the API is down (although it was when I filed this issue according the the status page), but that the KV namespace doesn't exist.
Since I tried running `wrangler dev` before running `wrangler publish`, I never saw this error message:
![image](https://user-images.githubusercontent.com/10719325/83066752-226f9f80-a02b-11ea-82ee-599ce3667239.png)

[2020-05-27 20:13] EverlastingBugstopper commented on #1330
`wrangler dev` requires an internet connection, and this [is documented](https://developers.cloudflare.com/workers/tooling/wrangler/commands#dev-alpha-) and not likely to change.

As for the API error messages, we should definitely make those show up when running `wrangler dev`! That being said, I think they _should_ be showing up, and you're running an outdated version of wrangler. Could you try

[2020-05-27 20:18] jahands commented on #1330
Good catch! Updated to:
`wrangler 1.9.2`

Got a new error when using a bad KV Namespace:
[code]

I think it would be good to add the actual error returned from the API for this command.

[2020-05-27 20:21] ashleymichal commented on #1032
@EverlastingBugstopper this seems like a good call. we can keep our eyes  out for optimizations  and convenience features, but for solving the biggest problem this seems good.

[2020-05-27 20:26] EverlastingBugstopper commented on #1330
ok - this is great info! thanks @jahands 😄

[2020-05-28 15:21] ashleymichal commented on #1191
there is a lot of work for cleaning up sites, but this needs a priority bump. we'll get this in for 1.10.0

[2020-05-28 15:28] eng-dibo opened #1333 "exited with exit code: 0xc0000135"
just installed wranger and trying to generate my first app
[code]
but got an error
[code]

[2020-05-28 15:39] EverlastingBugstopper commented on #1023
doing #1190 instead

[2020-05-28 15:39] #1023 closed

[2020-05-28 17:15] ashleymichal commented on #1188
@jorgelbg nothing should have changed, and we haven't been able to reproduce. is this still happening for you? if so, it needs its own issue, i don't want to lose it under this one.

[2020-05-28 20:18] #397 closed

[2020-05-28 21:30] jorgelbg commented on #1188
@ashleymichal Thanks for the reply!

I tested with the latest release (v1.9.2) and I see the same thing happening. I will open a new issue and put the details there.

[2020-05-28 22:03] jorgelbg opened #1338 "Larger size of the generated worker with wrangler v1.9.x"
### 🐛 Bug Report

#### Environment

* operating system: macOS 10.15.4
* output of `rustc -V`: rustc 1.43.1
* output of `node -v`: v14.3.0
* output of `wrangler -V`: wrangler 1.9.2
* contents of `wrangler.toml`:

[code]

#### Steps to reproduce

When building the project using wrangler v1.8 the size of the worker is `635Kib`:

[code]

After upgrading to v1.9 it goes over the 1Mb limit:

[code]

Thi

[2020-05-28 22:47] jspspike commented on #1191
I'll take a look at this issue

[2020-05-29 13:09] eng-dibo commented on #1333
I just installed wrangler (on windows) and trying to generate a project, no anything else

[code]

[2020-05-29 16:11] andrzejwp commented on #1191
Thanks for this workaround. Works like a charm.

[2020-05-29 20:34] EverlastingBugstopper commented on #1338
Hey @jorgelbg - this seems like a bug but it's hard to know what's happening without a repo that can reliably reproduce the error.

Could you make an example repository or link the repository you're using so we can attempt to reproduce the different behavior between 1.8 and 1.9? Thanks!

[2020-05-29 20:37] EverlastingBugstopper commented on #1259
we're not going to allow anything other than strings to be uploaded via the cloudflare API.

unfortunately completely disallowing non-string variables to be defined in `wrangler.toml` isn't really an option because of backwards compatibility issues, so i think we should detect if someone has not put quotes around the value of a `var` and then issue a warning, letting them know that the variable th

[2020-05-30 17:18] simplenotezy opened #1349 "wrangler publish --rollback ?"
### 💡 Feature request
Possibility to rollback to a previous comitted version

#### Overview and problem statement

When a large site has just been deployed and an issue is discovered, it would be helpful if you could fast and easy revert to a previous working version

#### Basic example

wrangler publish --rollback=1 # to rollback to last published version

[2020-05-31 16:27] peracto commented on #1047
@EverlastingBugstopper,
I have an issue with wrangler dev ... When referencing the node 'crypto' package in a code module  - I get a 'panic'. If I comment out the 'require' and stub out the function - then all is well again.

If I publish my worker - then it performs as expected.

The odd thing is that the panic is raised without any of my code being execute. If I execute 'wrangler dev' - I get th

[2020-06-01 03:22] danbars opened #1351 "wrangler dev takes 30-60 seconds to detect changes"
### 🐛 Bug Report

#### Environment

* operating system: Mac OS 10.14.6
* output of `rustc -V`:
`command not found`
* output of `node -v`:
`v11.10.1`
* output of `wrangler -V`:
`wrangler 1.9.2`
* contents of `wrangler.toml`
[code]

#### Steps to reproduce
When I run `wrangler dev` and make any changes to some files, it takes 30-60 seconds until the changes are detected and `Detected changes...` lin

[2020-06-01 11:18] peracto opened #1352 "[dev] WebSocket disconnects prematurely"
@EverlastingBugstopper,
I have an issue with wrangler dev ... When referencing the node 'crypto' package in a code module  - I get a 'panic'. If I comment out the 'require' and stub out the function - then all is well again.

If I publish my worker - then it performs as expected.

The odd thing is that the panic is raised without any of my code being execute. If I execute 'wrangler dev' - I get th

[2020-06-02 06:26] danbars opened #1354 "wrangler dev --host param - request for clarification"
This is not really a bug, just request for clarification in the docs.
What exactly is the purpose `--host` param in `wrangler dev`?
Is it supposed to set the origin behind current worker to the defined host?
Or is it supposed to make wrangler behave as if it is running itself on this host?

[2020-06-02 11:04] CopernicAI commented on #1034
Hi there guys. Have had clean install of cargo and  wrangler (on Windows 10) . Seeing the same error with wrangler 1.9.2
Manually installed 'cargo-generate' didn't help either.
error msg:
******************************************************
' Installing cargo-generate v0.5.0...
Error: could not download `cargo-generate`
no prebuilt cargo-generate binaries are available for this platform'
*******

[2020-06-02 14:46] ashleymichal commented on #1259
do non-string variables work today?

[2020-06-02 15:28] EverlastingBugstopper commented on #1034
@CopernicAI since this seems to be a new issue (although seems related to the old one) could you please open a new one so we can track there? When you do so, could you also include your operating system and version of node? Thanks!

[2020-06-02 15:29] EverlastingBugstopper commented on #1354
`--host` allows you to specify the origin your worker would make a request to. So if you set your host to `example.com` and then made a fetch in your worker to `example.com`, we'd send that request to your origin server, not to the worker a second time.

[2020-06-02 15:29] #1354 closed

[2020-06-02 15:53] EverlastingBugstopper commented on #1259
yeah - you can definitely specify a boolean value in `wrangler.toml`. it will always be uploaded as a string, but that's kinda confusing since we allow folks to specify `true` or `false` instead of making them do `"true"` or `"false"`

[2020-06-02 15:55] PierBover commented on #1259
Is this only for booleans?

I haven't tested it, but I imagine it's the same for numbers.

[2020-06-02 17:09] EverlastingBugstopper commented on #1031
nnaaaaahhhh - doing #1032 instead. this was a bad idea

[2020-06-02 17:09] #1031 closed

[2020-06-02 17:17] EverlastingBugstopper commented on #1338
If I run `wrangler build` with `wrangler 1.8.4` on that repository, I get the same message about size.

[code]
[code]

[2020-06-02 17:19] EverlastingBugstopper commented on #1338
that being said - if you remove `devtool: 'source-map'` from your custom `webpack.config.js`, the size should be much smaller (that's my bad, it's in my template, i'll submit a pr to fix that)

[2020-06-02 17:48] jorgelbg commented on #1338
🤔 I've even cloned the repository into a different path and run with 1.8.4 and I don't get the error, I do get it with 1.9.2.

Indeed removing the source maps trims down the size, but I was more puzzled about the difference in size between the 2 versions without any other changes.

[2020-06-02 17:55] jorgelbg commented on #1338
Tried again now and this is the console output of the entire clone/build process: https://gist.github.com/jorgelbg/734a401858bdae18275276180bc76741

[2020-06-02 18:11] danbars commented on #1354
Thanks for the clarification.
I think explaining this in the docs can benefit everyone.

[2020-06-02 18:16] EverlastingBugstopper commented on #1354
I believe it is in the [docs](https://developers.cloudflare.com/workers/tooling/wrangler/commands#dev-alpha-) - do you think the wording could be clearer?

[2020-06-02 19:30] EverlastingBugstopper commented on #1338
hmmmmmm - i cannot reproduce this for the life of me. perhaps @ashleymichal  can take a look? super strange for sure...

as for the template, i've updated it to not include source maps: https://github.com/EverlastingBugstopper/worker-typescript-template/compare/972ddb6..aa7435c

[2020-06-02 20:21] #1136 closed

[2020-06-02 21:06] #1191 closed

[2020-06-02 21:43] #1330 closed

[2020-06-02 22:04] EverlastingBugstopper commented on #1249
ok - just to clarify, the solution to this issue is not #946 and we should print out the `JSON.stringify` stuff in a much cleaner manner

[2020-06-03 08:35] CopernicAI commented on #1034
I tried to reinstall with npm and it is working now :) thanks! :)

[2020-06-03 09:33] jorgelbg commented on #1338
To make things even more strange, after removing the source maps, I still see a difference in the project size between v1.8 and v1.9:

v1.8.4:
[code]

v1.9.2:
[code]

[2020-06-03 14:35] jspspike commented on #1025
I'll take a look at this issue

[2020-06-03 19:36] #745 closed

[2020-06-03 20:22] jahands commented on #1349
Why not `git checkout <working_commit> && git publish`?
Possibly even creating tagged commits for publishing to Workers to easily track what commits are published.

Could you provide more detail why this should be added to Wrangler vs being part of a Git workflow?

[2020-06-03 20:51] jahands commented on #1333
I just set up a fresh nodejs Windows env with latest Node LTS and Cargo and installed wrangler with npm and it worked fine.

Can you post more info about your environment?
Output of:
`wrangler -V`
`node -v`
`npm -v`

What Windows version are you on?

[2020-06-03 21:09] jspspike commented on #1025
I am having issues with creating `App` at build time and I think it would be best if this is held off until we upgrade to [clap_v3](https://docs.rs/clap-v3/3.0.0-beta.1/clap_v3/).

[2020-06-03 21:39] #1240 closed

[2020-06-03 22:27] kulxtreme commented on #240
It installs "successfully" on newest Fedora and wrangler than throwing

[code]

[2020-06-04 17:06] jspspike opened #1362 "Logging request results in no output"
### 🐛 Bug Report

#### Environment

* operating system: Linux Manjaro 20.0.2 Lysia
* output of `rustc -V`: rustc 1.43.0
* output of `node -v`: v14.3.0
* output of `wrangler -V`: 1.9.2 (using master HEAD)
* contents of `wrangler.toml`

#### Steps to reproduce

Attempting to console.log incoming request results in no output when using `wrangler dev`.
[code]
I expected to see the request printed out

[2020-06-04 17:10] jspspike commented on #1362
This seems to be because the deserialize at [socket.rs](https://github.com/cloudflare/wrangler/blob/master/src/commands/dev/socket.rs#L75) seems to fail when logging the request.

[2020-06-04 17:23] ashleymichal commented on #1271
this is done

[2020-06-04 17:23] #1271 closed

[2020-06-04 20:10] jspspike commented on #1362
Found the issue to be a type missing in the deserialization of `RemoteObject` in [chrome-devtools-rs](https://github.com/EverlastingBugstopper/chrome-devtools-rs/). Should be fixed with [this PR](https://github.com/EverlastingBugstopper/chrome-devtools-rs/pull/38).

[2020-06-04 22:06] #1362 closed

[2020-06-05 10:35] lawred2 opened #1363 "wrangler publish of webpack project fails on CI/CD behind corporate proxy"
### 🐛 Bug Report

#### Environment

* Windows Server 2019:
* wrangler -V -> wrangler 1.9.1

#### Steps to reproduce

Our CI/CD is behind a corporate proxy... The HTTP_PROXY and HTTPS_PROXY environment variables are both set as would be expected for proxy aware toolsets.

Our workers are published using wrangler publish from the CI/CD server. Simple javascript workers (not webpack) are deployed usi

[2020-06-05 14:24] kentonv opened #1364 "Instructions for finding account_id only work if you have a zone"
When you generate a new project, Wrangler writes:

    You can find your account_id and zone_id in the right sidebar of the zone overview tab at https://dash.cloudflare.com

This only works if you have a zone, but if you're using workers.dev exclusively, then you don't have any zone pages and so the mentioned sidebar doesn't show up anywhere.

I couldn't find anywhere in the UI that showed my acco

[2020-06-05 16:27] EverlastingBugstopper commented on #1364
mm - we should update to point them to the account-level workers page. i believe it's on the right panel in that case

[2020-06-05 16:29] ashleymichal commented on #1364
correct. but also more than likely this belongs in docs.

[2020-06-05 16:50] EverlastingBugstopper opened #1366 "Pin vendored dependency versions"
Pin versions of vendored dependencies.

Subtasks:
- [ ] update pinned version of as part of release checklist
- [ ] don't pin for dev builds; should be able to use cfg branches - same thing as wranglerjs

[2020-06-05 16:51] EverlastingBugstopper opened #1367 "in release checklist: update pinned version of vendored dependencies"
make sure we're doing this every release. should go with #1366

[2020-06-05 17:29] kentonv commented on #1364
Huh somehow I missed that the account ID shows up on the Workers page. I thought I looked there.

Docs are great, but they wouldn't be a replacement for this message.

[2020-06-05 17:36] ashleymichal commented on #1364
i'm a dingus and thought you were talking about the readme. saying "account home"  is probably  ideal.

[2020-06-05 17:38] kentonv commented on #1364
Problem is that the account home doesn't actually have your account ID on it. :(

It looks like we can't directly link to the worker page either, unless we already know the user's account ID... ugh.

This will all be solved when we support an OAuth flow for configuration, of course...

[2020-06-05 17:42] EverlastingBugstopper commented on #1364
mm - i dont think it'll be solved with oauth since you'll still need to specify account + zone id.

also - don't we have deeplinks or something? cc @neynah

[2020-06-05 17:49] kentonv commented on #1364
With OAuth, presumably you'd type `wrangler login` or whatever and then it would open a tab in your browser where you select which account you want, etc. No need to tell people to hunt for an ID to copy/paste...

[2020-06-05 17:56] EverlastingBugstopper commented on #1364
hmm. yeah - we dont store account_id or zone_id globally since folks often have more than one of each, so they are per-project configuration instead of global configuration like your api key. would probably be nice to spit out list of available account ids when you would run `wrangler login` like we do now with `wrangler whoami`

[2020-06-05 18:02] kentonv commented on #1364
Ohhh, I didn't know about `wrangler whoami`. Maybe this message here should really direct people to run that. It's much easier than digging around in the dashboard for an account ID...

I guess it's a little weird that our config file mixes deployment information with source code... seems like that makes it hard to, say, have an open source worker on github that anyone can deploy to their own acco

[2020-06-05 18:06] ashleymichal commented on #1364
yas

this has definitely introduced issues. i think wrangler login and whoami could be instrumental in fixing this problem

[2020-06-05 18:10] ashleymichal commented on #1279
closed by #1353

[2020-06-05 18:10] #1279 closed

[2020-06-05 18:19] EverlastingBugstopper commented on #1364
agreed @kentonv - i think we should definitely think about ways to better support per-developer settings that dont get checked in to version control.

[2020-06-06 15:55] toinbis opened #1368 "wrangler tail output modes"
### 💡 Feature request

#### Overview and problem statement

Current ouput of wranlger tail is useful for machine-parsing, but is (very close to) being unusable for simple logging needs for the development process. Introducing output modes would make it convenient to have logging in cases where we need to actually have the worker running on final domain instead of localhost.

#### Basic example

`$

[2020-06-06 18:47] jahands commented on #1368
What's wrong with piping to jq/rq/etc?

[2020-06-06 19:35] jahands commented on #1368
Here's  simple log output using jq:
[code]
This converts this:
[code]

to this:
[code]

[2020-06-06 19:47] toinbis commented on #1368
Thanks a lot for taking time to respond and especially crafting the command itself @jahands !

The only thing what's wrong with it is - it's not apparently obvious. For one - you need to know jq as such exist. Adding your suggested snipped to docs would do the job I suppose!

As for the ticket itself - I still think its a minor shortcomming when it comes to developer experience, so I tend to leave

[2020-06-06 20:26] jahands commented on #1368
You're welcome! This was my first time using jq queries, I'm impressed with what can be done with it 🙂 I agree that adding jq examples to the docs would be a good idea.

I think the issue with having built in output modes other than JSON is that while you just wanted timestamps and log messages, someone else might want the connecting IP added, or perhaps certain headers that relate to their app, o

[2020-06-06 20:52] jahands commented on #1368
Here's another example adding the IP address to the output. I also split it into multiple lines to make it clearer how it works.

[code]

[2020-06-06 21:00] davidgagnegarmin opened #1369 "Bulk wrangler tail"
### 💡 Feature request

#### Overview and problem statement

We would like a way to ingest logs for multiple workers without requiring multiple argo tunnels, to make piping them into a centralized log store more efficient.

#### Basic example

`wrangler.toml` contains env config for all scripts.
`wrangler tail --bulk` streams all worker logs for the account over one argo tunnel.

#### Concerns

Thi

[2020-06-06 22:41] jahands commented on #1368
I [created a PR](https://github.com/cloudflare/workers-docs/pull/880) in workers-docs to add a jq example to the `tail` documentation.

[2020-06-08 03:26] danbars commented on #1354
At least for me, the concept of Origin and how Cloudflare DNS works exactly was not 100% clear.
I'm for example using Cloudflare workers to call Google cloud function that has its own address, which is different than the Worker's.
So I wasn't aware that Cloudflare is proxying to an Origin that is on the same domain as the worker. The way that you've explained it here made it clear for me, and perh

[2020-06-08 03:28] danbars commented on #1351
I don't really know what needs to be done to reproduce because I don't do anything special. But if there's any additional info or logs I can provide, please let me know.

[2020-06-08 10:57] simplenotezy commented on #1349
Sure @jahands - I don't track my /dist/ folder in git, perhaps I should do this, but currently I don't. So even if I checkout another commit, /dist/ folder won't change.

Currently I just created a "hacky" workaround, where in my deploy script it runs `cp` on current folder to "my-project" -> "my-project-1", and then I can cd into `my-project-1` and run `wrangler publish` if I wish to redeploy.

[2020-06-08 15:06] ispivey commented on #1369
@davidgagnegarmin Thanks for the suggestion! We very much understand and appreciate the need here.

The Workers team is working on a solution to use the underlying framework behind `wrangler tail` to allow you to send logs to other logging services without having to pipe through wrangler/tunnels first. We'd rather not invest more in making `wrangler` a better tool for automated logging pipelines,

[2020-06-08 15:06] #1369 closed

[2020-06-08 15:30] EverlastingBugstopper commented on #1349
cc @rita3ko

[2020-06-08 15:35] jahands commented on #1368
@toinbis This jq example is now in the official docs at https://developers.cloudflare.com/workers/tooling/wrangler/commands/#tail

[2020-06-08 15:41] jahands commented on #1349
@simplenotezy Can you share more about your setup? How does the contents of /dist/ get built? Can you share your wrangler.toml or build script?

I'm using webpack and every time I run `wrangler publish` it will build the script from source before publishing. So if I checkout a previous commit, wrangler will automatically re-build everything.

[2020-06-08 15:47] EverlastingBugstopper commented on #1368
Using jq for this is great but I agree with @toinbis that we could probably provide a built-in prettifier. Won't be super high priority for us since you can parse things with jq how you want, but we'll leave the issue open since I think it's a super valid feature request.

[2020-06-08 15:51] jahands commented on #1368
@EverlastingBugstopper what do you think built in pretty tail output should look like? Should it be configurable?

[2020-06-08 15:53] EverlastingBugstopper commented on #1368
🤷 we'd have to make some design decisions for sure. not sure what it'd look like, though we'd probably want it to look pretty similar to what `wrangler dev` looks like

[2020-06-08 16:32] toinbis commented on #1368
Great discussion, perfect outcomes! Thanks @jahands , thanks @EverlastingBugstopper !

[2020-06-08 22:37] #1249 closed

[2020-06-09 01:17] mathiasrw commented on #1321
If you document what to include and add the option "type": "raw" users can have whatever crazy pipeline they want and include the needed files them selfs.

[2020-06-09 05:11] jdanyow commented on #1321
As a workaround I've created a CLI for local development of workers using headless chrome to simulate the workers runtime. It supports sites, HTMLRewriter, the cache, etc.

https://www.npmjs.com/package/@cfworker/dev

[2020-06-09 08:03] Natnael123 commented on #1333
wrangler : 1.9.2
node : v12.17.0
npm : 6.14.4

[2020-06-09 18:35] simplenotezy commented on #1349
@jahands my /distribution/ folder is not tracked by git which i believe we pretty common. Dear build script takes around 2-3000 seconds so if I checkout a previous commit I have to wait 3000 seconds for the build process to complete (it's a pretty big site with a lot of content).

[2020-06-09 18:52] EverlastingBugstopper commented on #1351
what editor are you using?

[2020-06-09 18:55] abliss opened #1372 "ARM support"
### 💡 Feature request

#### Overview and problem statement

I would like to use wrangler on my arm64 linux device
#### Basic example

[code]

[2020-06-09 19:01] jahands commented on #1349
Oh wow, that's a long time! Now I understand why you would want easier ways to revert.

I don't think keeping track of multiple deployments is in the scope of wrangler/workers and better suited to other tools.

Have you considered making `/distribution/` a separate repo so that you can track deployments without blowing up your development repo? I'd think git operations would be faster than rebuild

[2020-06-10 01:10] mathiasrw opened #1374 "Deno, KV and wrangler"
### Question / feature request

I wanted to see if I could make wrangler support javascript development in Deno.

The easy path is to use Deno for development, bundle with Deno to a single .js and bundle that as normal with wrangler. This works, but I am having issues with the KV way of including a "magic" undefined namespace as a variable.

Question:

- Is there any documentation to why the names

[2020-06-10 02:21] mathiasrw opened #1375 "Let wrangler suppoer Deno development"
### 💡 Feature request

Let wrangler support development in Deno

#### Overview and problem statement

Deno makes it possible to run ES6 modules in a secure way on the server and share exactly the same code with the browser, so its only natural to use the same code in your cloud workers.

Deno is [a rust crate](https://crates.io/search?q=deno), so the smooth way to integrate would be to include tha

[2020-06-10 06:01] danbars commented on #1351
Jetbrain's Webstorm.
But in fact yesterday I've upgraded to the latest version of the IDE, and it seems to solve the problem. I'm not really sure how is this connected, but I'm ok now.
If you think this is not relevant for anyone else you can close the ticket.

[2020-06-10 22:42] bluk opened #1377 "Rust bindings for Cloudflare KV / Cache APIs"
### 💡 Feature request

An easy way to use the Cloudflare Worker runtime specific APIs (e.g. KV and Cache APIs) from Rust.

#### Overview and problem statement

While Rust `web-sys` and `js-sys` crates exist which works for most of the "Worker runtime" environment, there are a few Cloudflare specific APIs which do not have equivalent bindings.

It would be helpful if either Cloudflare or the commun

[2020-06-11 11:43] simplenotezy opened #1378 "wrangler tail command is not working"
### 🐛 Bug Report

When I run `wrangler tail` I get:

    error: Found argument 'tail' which wasn't expected, or isn't valid in this context

Found info about the tail command here https://developers.cloudflare.com/workers/about/tips/debugging/

[2020-06-11 11:47] ispivey commented on #1378
@simplenotezy can you please edit your issue to include the requested info in the bug report template? Also, make sure you're using the latest release, following the instructions in the bug report template.

#### Environment

* operating system:
* output of `rustc -V`:
* output of `node -v`:
* output of `wrangler -V`:
* contents of `wrangler.toml`

#### Steps to reproduce

[2020-06-11 11:48] ispivey commented on #1377
This is a good idea! I can't promise when the Workers team can prioritize this, but we've talked about it internally, and would love to see community contributions as well.

[2020-06-11 11:48] simplenotezy commented on #1378
I realized I was running some versions behind recent. Fixed. Thanks.

[2020-06-11 11:48] #1378 closed

[2020-06-11 12:03] simplenotezy commented on #1368
How can I modify tail so I only get error messages? I am trying to figure out why I get an error 1011 from workers, but due to the amount of requests incoming to my worker, it's pretty difficult to filter error messages only

[2020-06-11 12:04] simplenotezy commented on #1368
Also, if I run: `wrangler tail --port 8888 | jq -r '.logs[] | .message[] as $m | "[\(.timestamp/1000|todate)[\(.level)] \($m)"'`

I get:
[code]

[2020-06-11 12:05] ispivey commented on #1368
I think it's worth looking at how some other tools solve the problem of output modes. A few examples off the top of my head include:
* `gcloud logging read` supports a `--format` flag. That flag is used across many `gcloud` commands. The default format is something human-readable that's specific to the command. Other options include `config, csv, default, diff, disable, flattened, get, json, list,

[2020-06-11 12:07] ispivey commented on #1368
@simplenotezy would you mind opening a separate issue? I'd love to keep this one dedicated to designing a second human-readable logging format for `wrangler tail`, which was the original feature request. I'll take a look at the new issue once you open it.

[2020-06-11 12:10] simplenotezy commented on #1368
Sure thing @ispivey

[2020-06-11 12:14] ispivey commented on #1349
@simplenotezy FYI we'd like to do something like this before too long. We'll post an update when we've got more concrete plans.

[2020-06-11 14:29] jahands commented on #1349
I stand corrected! I'll be interested to see what this looks like.

[2020-06-11 15:26] EverlastingBugstopper commented on #1047
Yeah that's correct. I tried to implement listening on both ipv4 + ipv6 a while back but couldn't get it to only listen on only loopback addresses - had to expose it over the local network which was a no-go from security perspective. You can specify ipv4 by running `wrangler dev --ip 127.0.0.1`.

[2020-06-12 13:49] ispivey opened #1380 "CI test flake: `failed to parse manifest` while downloading crates"
[code]

See build log at: https://github.com/cloudflare/wrangler/pull/1379/checks?check_run_id=765543689

I haven't been able to reproduce it, but want to start documenting flaky CI failures (in case there are multiple root causes) so we can knock 'em down one by one.

[2020-06-12 13:53] ispivey commented on #1012
@EverlastingBugstopper I can't access the build log anymore. Was this the same as https://github.com/cloudflare/wrangler/runs/762295513?check_suite_focus=true , or something different?

If the same, I'll update to point to the latest instance, and attach some logs more permanently.

If not the same and this is lost to the ether, figure we can close it.

[2020-06-12 13:55] ispivey commented on #1380
Re-ran and hit a different error that feels like the same issue – being unable to fetch stuff when downloading crates: https://github.com/cloudflare/wrangler/pull/1379/checks?check_run_id=765614864
[code]

[2020-06-12 14:15] EverlastingBugstopper commented on #1012
Oh this is from back when we were using azure pipelines. I still need to make a new issue about the GitHub actions failures.

[2020-06-12 14:15] #1012 closed

[2020-06-12 15:00] ispivey commented on #1380
One of the things I've got so far is, we're likely caching bad or partially downloaded artifacts. The 1.10.0 PR failed a few times in a row:

https://github.com/cloudflare/wrangler/pull/1379/checks?check_run_id=765784577

The failure happens when downloading and parsing crates:
[code]

The entire `.cargo/registry` directory is being cached – I notice in the "Cache Cargo Registry" step, there's alw

[2020-06-12 15:07] ispivey commented on #1380
I tried some old-fashioned cache-busting (changing the key name) on another PR that was failing:

https://github.com/cloudflare/wrangler/pull/1381/checks?check_run_id=765809720

[code]

Neat, no cache hit.

[code]

Still failing to download/parse.

[2020-06-12 15:09] ashleymichal commented on #1380
any chance we're being rate limited by crates.io?

[2020-06-12 15:18] ispivey commented on #1380
Actually, it's not supposed to cache if the build fails; should probably test that.

[2020-06-12 15:29] ispivey commented on #1380
hrm https://github.com/rust-lang/cargo/issues/8354

[2020-06-12 15:30] ispivey commented on #1380
hrm https://github.com/rust-lang/cargo/issues/8351

[2020-06-12 16:50] #1380 closed

[2020-06-12 19:04] msfjarvis commented on #247
with `RUST_BACKTRACE=1 wrangler publish` I was able to pinpoint this bug to `Krate`. When crates.io's API is down for any reason we get this error. It appears we all were unfortunate enough to use wrangler in separate transient downtime periods. I'd love to address the to-do there to use GitHub and fix this issue in the process.

<details>
<summary>Screenshot of crates.io API outage</summary>

![i

[2020-06-12 19:10] EverlastingBugstopper commented on #247
aha! so it sounds like we just need to surface that error explicitly instead of masking it. thanks for the sleuthing @msfjarvis

[2020-06-13 11:40] pyk commented on #1047
It would be nice if `wrangler dev` support multiple webpack configurations.

The use case is when the user need to bundle static assets that runs in the browser.

For example:

[code]

Enabling this feature would greatly improve the developer experiences when developing Workers Sites locally.

[2020-06-14 10:52] samuelcolvin commented on #771
Any progress on this? It would be great.

If I want to use webpack and rust in the same worker, am I best to use the webpack loader for wasm or do something else?

[2020-06-15 09:12] pyk commented on #521
For those who are stumbling upon this thread from search engine.

The alternative is to use `process.env.VARIABLE_NAME` inside your webpack config.

For example:

[code]

Then run your wrangler using the following command:

[code]

I hope it helps 🙏

[2020-06-15 15:24] SirJosh3917 opened #1386 "Error sending request for url (...): operation timed out"
The issue lies [here](https://github.com/cloudflare/wrangler/blob/master/src/http/legacy.rs#L40).

I'm writing some web workers on a slow internet speed. When I want to preview my web worker (`wrangler preview --watch`), my internet speed requires a full second to upload 50KiB, and I have 2.3MiB of uncompressed JavaScript to upload. This is 46 seconds, and surpasses the 30 second timeout limit.

A

[2020-06-15 15:36] EverlastingBugstopper commented on #1327
duplicate of #771

[2020-06-15 15:36] #1327 closed

[2020-06-15 15:37] EverlastingBugstopper commented on #771
👋  - hi, we don't have plans on prioritizing documenting this functionality at the moment. that being said, I believe [this npm module](https://github.com/wasm-tool/wasm-pack-plugin) may help with what you're looking to do.

[2020-06-15 15:38] EverlastingBugstopper commented on #771
[this tool](https://github.com/rustwasm/rust-webpack-template/blob/master/package.json) also demonstrates how to create a hybrid project

[2020-06-15 15:48] shalzz commented on #771
@EverlastingBugstopper Yes using wasm-pack-plugin allows achieving the required functionality.

However setting `type = "webpack"` in `wrangler.toml` and a custom webpack with the above plugin does results in a wasm module being built but not being uploaded to cloudflare worker.

The wasm module gets uploaded only when `type= rust` or similar. This means we have to rely on hacks to make sure the f

[2020-06-15 17:56] EverlastingBugstopper opened #1388 "preview tests are flaking"
[on windows stable](https://github.com/cloudflare/wrangler/pull/1387/checks?check_run_id=773670419)

2 failing tests are

`it_can_preview_js_project` and `it_can_preview_rust_project`

it fails on the assert, even though the stdout indicates that it passed. wonder if it is related to #1333 or maybe #1317

[code]

[2020-06-15 18:20] EverlastingBugstopper commented on #1388
oh look! i found [this](https://github.com/assert-rs/assert_cmd/issues/42) - i'm gonna try to update assert_cmd to the latest stable release and we'll see if these go away 🤞

[2020-06-15 20:17] EverlastingBugstopper opened #1389 "1.10.0 not published on npm"
i cannot run `npm publish` for some reason. issue described in more detail [here](https://github.com/npm/cli/issues/1433)

[2020-06-15 20:38] EverlastingBugstopper commented on #1389
@ashleymichal was able to publish. underlying issue likely still exists for me but going to close this

[2020-06-15 20:38] #1389 closed

[2020-06-16 09:44] mathiasrw commented on #1374
Thank you @ispivey for your answer. Ill close this task and reopen of there is a specific issue.

Yes, its Deno that I would like to use for making the js ending up in the worker.

[2020-06-16 09:44] #1374 closed

[2020-06-16 09:47] GregBrimble commented on #1386
Think this is worsened by [the new release, `1.10.0`](https://github.com/cloudflare/wrangler/releases/tag/v1.10.0) since the asset uploads are done in bulk rather than individually. I'm on a flaking connection myself and 1.10.0 was unusable—I had to downgrade to 1.9.2.

[2020-06-16 09:53] mathiasrw commented on #1375
Thank you for your inputs. A few comments:

Deno is "just" a way of running javascript code in V8. The nice thing about them is that the building of the final plain javascript can be done from es6 code with full references to imported es modules - so the code works in all modern browser and in Deno. Think of it as Node that would be 100% compatible with the browser.

There is no system APIs needed

[2020-06-16 14:15] mohamedrajhi commented on #997
hello , i have the same problem
do anyone have an idea to solve this issue ?
![image](https://user-images.githubusercontent.com/40335054/84786078-8ebb3e80-afec-11ea-9edb-b15fe859ea22.png)

[2020-06-16 14:48] EverlastingBugstopper commented on #1386
Hmmm.. I don't think the bulk upload change should have impacted this as it just increased the limit of the amount of files you can upload at once by batching the API calls to be run subsequently. However, we did shorten the HTTP timeout for kv commands that are not bulk uploads in a refactor by @ashleymichal...

@GregBrimble if you run the command with RUST_LOG=debug, are you able to pin down the

[2020-06-16 17:28] #1386 closed

[2020-06-16 18:56] EverlastingBugstopper commented on #1386
we just released 1.10.1 that should address this issue @SirJosh3917 and @GregBrimble 😄  sorry for the inconvenience!!

[2020-06-16 18:56] EverlastingBugstopper commented on #997
Hey @mohamedrajhi we just released 1.10.1 that should address this issue 😄  sorry for the inconvenience!!

[2020-06-16 19:06] GregBrimble commented on #1386
It did indeed! Thanks @EverlastingBugstopper :)

[2020-06-16 19:36] EverlastingBugstopper commented on #1204
for wrangler dev, we need a way for users to test http vs https. right now localhost server we spin up is always http, and will send https requests upstream to the worker, but that can be confusing behavior ofc. ideally, i'd send the request w/the same protocol that was sent to localhost, but there's the issue of certificates for https localhost.

i found this tool that might be helpful for us to

[2020-06-17 11:14] adaptive commented on #1338
One important note, the value derives from webpack. The uncompressed id 885 KiB (compressed 275 KiB). @jorgelbg can you check the uncompressed of the other versions?

v1.10.1:
✨  Built successfully, built project size is 275 KiB.

[2020-06-17 14:13] adaptive opened #1394 "kv:bulk delete json format"
### 💡 Feature request
 Request a new format for file.json on the wrangler kv:bulk delete.

#### Overview and problem statement
I submitted a [PR on Workers Docs](https://github.com/cloudflare/workers-docs/pull/906) on the clarity of the JSON.

[code]
to

[code]

#### Basic example

This can go further, my request is to accept an array of keys to be deleted.

[code]

[2020-06-17 15:35] jorgelbg commented on #1338
* v1.8.4: `522.4 KB`
* v1.9.4: `885.9 KB`
* v1.10.1:  `886 KB`

@adaptive Sizes between v1.9.x and v1.10.x are somehow similar but still larger than v.1.8.4.

[2020-06-17 17:22] EverlastingBugstopper commented on #1111
this should be fixed with 1.10.1

[2020-06-17 17:22] #1111 closed

[2020-06-17 17:23] EverlastingBugstopper commented on #1047
hey @pyk - that sounds like a more general wrangler feature request than something specific to `wrangler dev`. would you mind opening a separate issue for that?

[2020-06-17 19:39] EverlastingBugstopper commented on #771
cc @xtuc

[2020-06-17 20:17] simplenotezy commented on #1111
Good job!

[2020-06-18 02:13] pyk opened #1397 "Support multiple webpack configurations"
### 💡 Feature request

#### Overview and problem statement

It would be nice if wrangler support multiple webpack configurations.

The use case is when the user need to bundle static assets that runs in the browser.

Enabling this feature would greatly improve the developer experiences when publishing or developing Workers Sites locally.

#### Basic example

For example:

[code]

#1047

[2020-06-18 02:13] pyk commented on #1047
@EverlastingBugstopper done #1397 👌

[2020-06-18 02:19] pyk commented on #1397
My current approach is to use separate file for this:

1. `webpack.workers.js`: webpack configuration to bundle workers script
2. `webpack.sites.js`: webpack configuration to bundle static assets that run in the browser

On local development, I run the following command:

[code]

To publish, I use the following command:

[code]

[2020-06-18 11:33] adaptive commented on #904
I am using wrangler in GitHub Action, with action/cache and "npx wrangler" the process speeds up a bit. Installing wranglerjs every and deploy is counterproductive in a CI/CD workflow.

[2020-06-18 14:26] simplenotezy opened #1398 "Critical: Error: Number of keys to delete (16010) exceeds max of 10000"
### 🐛 Bug Report

#### Environment

* operating system:
* output of `rustc -V`: rustc 1.41.0
* output of `node -v`: v10.20.1
* output of `wrangler -V`: wrangler 1.9.2
* contents of `wrangler.toml`:

[code]

#### Steps to reproduce

Running wrangler publish

#### What did you expect to see?

Should publish

#### What did you see instead?

    Error: Number of keys to delete (16010) exceeds max of 1

[2020-06-18 14:36] ObsidianMinor commented on #1375
@xtuc @EverlastingBugstopper Technically we wouldn't need to implement Deno's API to support "Deno development". I believe what this is proposing is we support [Deno as a bundler](https://deno.land/manual/tools/bundler) which allows us to have easy TypeScript support and the remote package management Deno is known for. It may be better for us to support general bundlers though so we're not explici

[2020-06-18 15:03] simplenotezy commented on #1398
I had to manually delete the whole namespace then reupload to get site up and running

[2020-06-18 15:14] xtuc commented on #1375
It depends what Deno as a bundler targets.

yeah that's something I have in mind for some time. You can emulate it using the wranlger type: javascript, but we need a tool that ensures the output is compatible with our runtime and create bindinds etc

[2020-06-18 15:26] EverlastingBugstopper commented on #861
we actually did this one!

[2020-06-18 15:26] #861 closed

[2020-06-18 15:30] EverlastingBugstopper commented on #1398
hey @simplenotezy - sorry for the inconvenience here. does this still happen with the latest version of wrangler? 1.10.1 is out and has some changes around this behavior

[2020-06-18 22:18] simplenotezy commented on #1398
Yeah I am unfortuantely. And it happens every re-deploy now.

[code]

[2020-06-18 22:52] ashleymichal commented on #1398
i see  where the bug lies. will correct asap.

[2020-06-19 04:32] gnuwilliam opened #1399 "Cache doesn't clear up when using bypassCache option"
### 🐛 Bug Report

#### Environment

* operating system: `macOS`
* output of `rustc -V`:`rustc 1.33.0 (2aa4c46cf 2019-02-28)`
* output of `node -v`: `v12.16.1`
* output of `wrangler -V`: `👷 ✨  wrangler 1.9.2`
* contents of `wrangler.toml`: `type: webpack` - using a standard Gatsby template

#### Steps to reproduce

- Run `wrangler publish` with `bypassCache: true` or set the `edgeTTL` to a specific

[2020-06-19 09:22] simplenotezy commented on #1398
Great news!

[2020-06-19 15:13] samuelcolvin commented on #771
@shalzz what hacks are you using to get this to work?

[2020-06-19 16:50] ericdeansanchez commented on #1352
@peracto By any chance, are you using Windows?

[2020-06-19 17:59] chuanqisun commented on #1293
I stumbled on this issue when trying to decide whether to check in the wrangler.toml in an open source project. My goal is to have the [Wrangler Github Action](https://github.com/cloudflare/wrangler-action) publish the worker each time the source code updates.

After reading this community post: [Is it safe to publish wrangler.toml](https://community.cloudflare.com/t/is-it-safe-to-publish-wrangler

[2020-06-20 17:12] Erk- opened #1402 "None of the commands that uses pre-built packages runs on FreeBSD"
### 🐛 Bug Report

The pre-built packages does not exist for FreeBSD and there is no clear way to build them yourself.
Furthermore they seem to segfaults after failing.

#### Environment

* operating system: `FreeBSD 12.1-RELEASE-p3 GENERIC  amd64`
* output of `rustc -V`: `rustc 1.44.1 (c7087fe00 2020-06-17)`
* output of `node -v`: Not installed
* output of `wrangler -V`: `wrangler 1.10.1`
* conten

[2020-06-20 18:58] samuelcolvin commented on #771
Cancel that, I have it working. I don't know what hacks @shalzz was referring to, I've played around with this a lot and didn't find any hacks I had to implement to get workers to work with `wasm-pack-plugin`. The only negative change I saw was that I now get the warning

    ✨  Built successfully, built project size is 1 MiB. ⚠️  Your built project has grown past the 1MiB size limit and may fail

[2020-06-22 10:44] transitive-bullshit commented on #1198
Please re-open this issue as it is a serious bug blocking the 99% use case for `wrangler dev`.

The same problem via Node.js HTTP requests, and this DNS issue is something that I've never encountered with any other dev / localhost servers.

Example using got's [dnsLookupIpVersion](https://github.com/sindresorhus/got/blob/cb4da8df5ecf939d7797e8e5f774ebf39814c435/readme.md#dnslookupipversion):

Thes

[2020-06-22 16:20] EverlastingBugstopper commented on #1198
unfortunately there doesn't seem to be a way for me to expose `wrangler dev` on both ipv4 AND ipv6 without also exposing your development server to your local network, which could be a security vulnerability at a coffee shop or something. i'll open a PR to make it listen on IPv4 by default and not print "localhost". If you'd like it to listen on both, you can specify `--ip [::]`

[2020-06-22 16:31] EverlastingBugstopper commented on #1399
Hey @gnuwilliam - it sounds like you're talking about a Workers Site, is that correct? If so, I'll move this issue to the [correct repo](https://github.com/cloudflare/kv-asset-handler) and we can take a look there. I'd also just real quick make sure that you're using the latest `kv-asset-handler` in your `package.json`.

[2020-06-22 16:34] EverlastingBugstopper commented on #1402
Thanks for the report! One workaround for now is to install `wasm-pack` and `cargo-generate` on your own. If you're up to the latest version, Wrangler should just use your system version instead of downloading a new one 😄

[2020-06-22 16:35] EverlastingBugstopper commented on #1293
Hey @chuanqisun - there is no issue with putting your account and zone id in version control, those IDs are safe to be public.

[2020-06-22 20:32] #1398 closed

[2020-06-22 22:12] EverlastingBugstopper opened #1407 "npm 1.10.2 release "bad tar archive""
CI to create release failed because we made a release before CI created one for us. thought we could get around easily by downloading the artifacts created by CI and just putting them in the release, but got an issue w/npm saying it's a bad tar. re-running CI right now to fix this.

[2020-06-22 22:15] EverlastingBugstopper commented on #1407
fixed!

[2020-06-22 22:15] #1407 closed

[2020-06-23 06:04] alonsohki commented on #210
This is a key feature to have for deployment pipelines where feature branches are automatically deployed for preview. What's the current status?

[2020-06-24 04:50] WearyMonkeyFSF commented on #1047
I'm trying to proxy to a local webpack server hosted, e.g.

[code]

And I'm being rick rolled:

![rick](https://user-images.githubusercontent.com/65217269/85502042-e3cd0500-b629-11ea-993e-72e00884e6bb.png)

Hilarious! But a bit of guidance on how to proxy to localhost for testing would be useful :)

[2020-06-24 07:33] GregBrimble commented on #1047
Hey @WearyMonkeyFSF,

Unfortunately, hitting localhost is not possible with wrangler just yet (see #901, #902 for progress). In the meantime, until the feature is added to wrangler, [I've thrown together a template repo](https://github.com/GregBrimble/cf-workers-typescript-template) which uses `cloudflared` to expose your localhost and then automatically connects wrangler to that.

It _should_ hel

[2020-06-24 08:13] WearyMonkeyFSF commented on #1047
Thanks @GregBrimble !

I slowly figured that out, but took me an hour or two.

Maybe you can put some instructions above the video? Just something to save future developers time.

Cheers!

[2020-06-24 10:10] mroderick commented on #945
This would be a very welcome feature 💯

Not using sourcemaps makes working with workers harder than it has to be.

[2020-06-24 10:13] xtuc commented on #945
In wrangler dev we should make webpack always generate a sourcemap, serve it with a new local HTTP server and inject a `sourceMappingURL` in the worker that points locally.

When the worker runtime will load the worker it will send that source map URL to the devtools that it can download from the user endpoint.

[2020-06-24 16:17] EverlastingBugstopper commented on #945
@xtuc would we need cloudflared for that to expose the local source map to the public internet?

[2020-06-24 16:19] EverlastingBugstopper commented on #902
next release of the workers runtime will no longer rick roll and will provide a meaningful error message, so this issue should no longer be relevant 😄  #901 is still a good idea though i think

[2020-06-24 16:20] #902 closed

[2020-06-24 17:23] Berndinox commented on #1216
Same Problem here, is there a fix?

[2020-06-24 18:02] rdaniels6813 opened #1408 "Environment kv_namespaces not being parsed into the config"
### 🐛 Bug Report
Following docs online to use environments with kv_namespaces specified does not bind the namespace during deployment.

This issue does not occur if you use kv-namspaces with a hyphen instead of an underscore under the environments, but this is not how it is shown in the examples and involved me looking at the codebase to discover this.

#### Environment

* operating system: MacOS

[2020-06-24 18:27] EverlastingBugstopper commented on #1408
great catch @rdaniels6813 - got a PR up for that, should be able to get it in the next release. Like you said, if you use `kv-namespaces` instead of what's documented it should work for now.

[2020-06-24 19:07] #1408 closed

[2020-06-24 19:56] EverlastingBugstopper commented on #1259
it's the same for everything. it seems as if the `toml` library we're using actually _does_ error if you try to deserialize a non-string into a string field. this makes me think that our old friend `Config` is doing something wonky that converts those values to strings.

[2020-06-24 21:02] EverlastingBugstopper commented on #904
this issue was solved a while ago with #1344

[2020-06-24 21:02] #904 closed

[2020-06-24 21:04] EverlastingBugstopper commented on #1399
@shagamemnon - do you think this is fixed w/the support for etag in `kv-asset-handler`?

[2020-06-24 22:44] shagamemnon commented on #1399
@EverlastingBugstopper - `etag` solves this problem if `bypassCache: false` yes. If `bypassCache: true`, then we won't set an `etag` version identifier on the response, so the browser won't have any comparison context (in other words, this problem will occur)

@gnuwilliam - are you setting a browserTTL? If you are _not_ setting a browserTTL, then this behavior is certainly odd and should be invest

[2020-06-24 22:53] kentonv commented on #902
@jayphelps Sorry! My fault. I put in that code three years ago to catch people testing SSRF attacks on cloudflareworkers.com (trying to talk to "localhost" on our server, maybe hoping to find an unprotected internal service), but I guess with `wrangler dev` it's now much easier to hit it by accident.

[2020-06-24 23:03] jayphelps commented on #902
Totally. No worries on my end at all. 👍

[2020-06-25 10:12] #366 closed

[2020-06-25 10:12] #376 closed

[2020-06-25 10:12] #475 closed

[2020-06-25 10:12] #566 closed

[2020-06-25 10:12] #850 closed

[2020-06-25 10:12] #786 closed

[2020-06-25 10:12] #668 closed

[2020-06-25 10:12] #920 closed

[2020-06-25 10:12] #1006 closed

[2020-06-25 10:12] #1016 closed

[2020-06-25 10:12] #1020 closed

[2020-06-25 10:12] #1036 closed

[2020-06-25 10:12] #1068 closed

[2020-06-25 10:12] #1083 closed

[2020-06-25 10:12] #1092 closed

[2020-06-25 10:12] #1127 closed

[2020-06-25 10:12] #1126 closed

[2020-06-25 10:12] #478 closed

[2020-06-25 10:12] #1134 closed

[2020-06-25 10:12] #1135 closed

[2020-06-25 10:12] #824 closed

[2020-06-25 10:12] #989 closed

[2020-06-25 10:12] #1141 closed

[2020-06-25 10:12] #1155 closed

[2020-06-25 10:12] #278 closed

[2020-06-25 10:12] #1162 closed

[2020-06-25 10:12] #1192 closed

[2020-06-25 14:49] ashleymichal commented on #1367
@EverlastingBugstopper maybe  we should include this directive as a todo bullet in #1366 to ensure it doesn't get lost.

[2020-06-25 14:52] ashleymichal commented on #1363
this will be solved  by #788; closing as duplicate.

[2020-06-25 14:52] #1363 closed

[2020-06-25 15:10] EverlastingBugstopper commented on #1363
#788 is an issue, dont think we got the right PR there @ashleymichal

[2020-06-25 15:10] #1364 closed

[2020-06-25 16:12] EverlastingBugstopper commented on #1388
looks like the important bit is

[code]

from the [PoisonError docs](https://doc.rust-lang.org/std/sync/struct.PoisonError.html):

[2020-06-25 16:48] #1198 closed

[2020-06-25 16:56] #247 closed

[2020-06-25 17:00] transitive-bullshit commented on #1198
Thanks @EverlastingBugstopper 🙏 😄

[2020-06-25 17:03] yet-another-dev commented on #1047
I'm unable to get `wrangler dev` to return multiple `Set-Cookie` headers in a worker response. I've tried in both of the following ways:

_explicitly appending them_
[code]
_passing them in the options object of the response_
[code]

I've so far only been trying to get this to work using `wrangler dev`... perhaps it's a wider Workers issue/limitation? Perhaps I'm missing something obvious here?

[2020-06-25 17:54] EverlastingBugstopper commented on #1047
wow @yet-another-dev - _fantastic_ catch. thank you so much! can't believe this has not been caught before. i'll get a patch up shortly :)

[2020-06-25 17:55] EverlastingBugstopper opened #1412 "[dev] handle multiple value headers"
I'm unable to get `wrangler dev` to return multiple `Set-Cookie` headers in a worker response. I've tried in both of the following ways:

_explicitly appending them_
[code]
_passing them in the options object of the response_
[code]

I've so far only been trying to get this to work using `wrangler dev`... perhaps it's a wider Workers issue/limitation? Perhaps I'm missing something obvious here?

_

[2020-06-25 19:08] EverlastingBugstopper commented on #1412
further update - it looks like this is only a problem for `Set-Cookie` specifically. Other headers with multiple values are coalesed by the Workers Runtime into a single header field. If the key was `my-header` instead of `Set-Cookie`, it would look like `my-header: value1, value2` and it wouldn't be a problem for `wrangler dev` to handle, since there will only ever be one `my-header`.

But `Set-C

[2020-06-25 19:12] jpwilliams opened #1415 "wrangler tail fails with 10013: workers.api.error.unknown"
### 🐛 Bug Report

#### Environment

* operating system: Windows
* output of `rustc -V`: not installed
* output of `node -v`: v12.13.0
* output of `wrangler -V`: wrangler 1.10.1
* contents of `wrangler.toml`

[code]

#### Steps to reproduce

1. Run `wrangler tail --env prod`

#### What did you expect to see?

Logging from the `prod` environment.

#### What did you see instead?

[code]

#### Extra i

[2020-06-25 22:58] #1197 closed

[2020-06-25 22:58] #180 closed

[2020-06-25 22:58] #1199 closed

[2020-06-26 18:00] EverlastingBugstopper opened #1418 "Pushing a secret for a new worker fails"
### 🐛 Bug Report

#### Environment

* operating system: Darwin C02CHCUPMD6R 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_64
* output of `rustc -V`: 1.43.1
* output of `node -v`: 10.21.0
* output of `wrangler -V`: 1.9.2
* contents of `wrangler.toml`
[code]

#### Steps to reproduce

With the following worker:

[code]

Trying to create/pu

[2020-06-26 18:24] #1412 closed

[2020-06-26 18:49] ispivey commented on #1418
@oliy

[2020-06-26 19:57] EverlastingBugstopper opened #1420 "wrangler tail verbosity level is Too High"
seems to be printing out all cloudflared logs that are usually hidden behind `-v`. not sure what's going on, dont think it's a regression on our side since 1.9.2 is also behaving that way. pretty sure cloudflared release changed something with their output streams. currently investigating

[2020-06-26 19:58] EverlastingBugstopper commented on #1047
just released 1.10.3 that resolves this issue @yet-another-dev 😄 thanks again for the report

[2020-06-26 22:20] bradyjoslin commented on #1418
Ran into this one today, as well, with cloudflare/wrangler-action@1.2.0 which uses @cloudflare/wrangler@1.10.3.

[2020-06-27 00:44] yet-another-dev commented on #1047
On the multiple cookie front (thanks for the super quick fix on this, @EverlastingBugstopper!), I've found that only the "explicitly appending" approach works (see https://github.com/cloudflare/wrangler/issues/1047#issuecomment-649705103). I assume this is intended (i.e. that the "passing them in the options object of the response" approach does not work by design)?

[2020-06-27 16:08] #1214 closed

[2020-06-27 16:14] JamesHenry commented on #1102
This should remain open please

[2020-06-27 16:22] ndarilek commented on #980
So this isn't getting fixed? This whole trend of projects marking issues
as stale automatically has always baffled me. Someone else is just going
to have this issue in a few more months unless we routinely poke it to
keep it open.

FWIW, the lack of this feature put me off of using Cloudflare Workers to
host a static site. Not trying to seem harsh, but if Cloudflare's tools
are just going to arbit

[2020-06-29 12:26] ashleymichal commented on #980
@ndarilek i'm going to update this issue to always upload `.well-known` files within the bucket directory. hopefully we can add it to the milestone for 1.11.0, which should go out in a few weeks.

Thank you for re-upping.

[2020-06-29 12:49] Erk- commented on #1402
That was the first I attempted, but wrangler does not appear to look for the tools outside of the wrangler cache located in `~/.cache/.wrangler/`.
[code]

I got it working by making a hard link with `ln` the binary for `cargo-generate` into `~/.cache/.wrangler/cargo-generate-0.5.0/cargo-generate` should be noted that a symbolic link did not work and would also error out. Similarily I made a hard l

[2020-06-29 14:48] ecerroni commented on #1047
TLDR:
- deployed code works
- same code running wrangler dev does not work (no errors either)

---------
I am developing a Graphql server building upon https://github.com/signalnerve/workers-graphql-server

Using the base template with `wrangler dev` gave no issues. However as soon I started trying stitching local and remote schemas together I could not debug anymore locally.

If I do `wrangler pu

[2020-06-29 18:35] EverlastingBugstopper commented on #1047
hey @ecerroni - so what you're running into is probably due to the fact that `wrangler dev` is actually making requests via the Workers preview API (`wrangler dev` is not a "local" development server in that you need an internet connection for it to work). That means that anytime you want to make a request to something _else_ that's running on your local network, you'll need to expose that service

[2020-06-30 09:38] ecerroni commented on #1047
@EverlastingBugstopper Thank you. It seems straight forward. However, I tried it and it is not working for me. Maybe I am missing something obvious.

First I start the tunnel
[code]

Then I start wrangler dev with the public endpoint as the host
[code]

This is the screen I see when I try to access `http://127.0.0.1/___graphql` or any other url on localhost.
![url](https://user-images.githubuserco

[2020-06-30 15:35] Autarc commented on #1047
Going through the thread I couldn't see if it was already mentioned before but while the `dev` mode is great for local development there is a small issue:

[code]

The output in the `wrangler dev` runtime returns `gzip, deflate, br` while after deployment it will always be `gzip` [as its set internally](https://support.cloudflare.com/hc/en-us/articles/200168086-Does-Cloudflare-compress-resources-)

[2020-06-30 17:07] EverlastingBugstopper commented on #1047
@ecerroni

this won't work because you're exposing `wrangler dev` to the public internet, and then trying to use it as a back end - i assumed you wanted to make requests to some other sort of back end you were developing side-by-side with your worker?

perhaps i'm misunderstanding what you're trying to do - could you open a new issue and list out steps to reproduce the issue you're having (especia

[2020-06-30 17:37] autarc opened #1425 "[dev] Different behavior of "Accept-Encoding" header"
Original [mentioned here as feedback](https://github.com/cloudflare/wrangler/issues/1047#issuecomment-651872430) for the `dev` mode.
___

[code]

Currently the `wrangler dev` runtime has different behavior for the `Accept-Encoding` header than a cloud deployed worker. Accessing it returns the actual values of a client (e.g. `gzip, deflate, br`) which can be misleading as later on [those won't be f

[2020-06-30 17:41] Autarc commented on #1047
@EverlastingBugstopper

Sure created it here: https://github.com/cloudflare/wrangler/issues/1425

Also thanks for clarifying the `script.js` file and referring to the existing issue. Keep up the great work!

[2020-06-30 19:13] EverlastingBugstopper commented on #1425
ok - from my investigation when sending `Accept-Encoding: gzip, deflate, br` as a request header

[code]

|command|`console.log(accept_encoding)`|`console.log(content_encoding)`|observed `Content-Encoding` response header|
|---|---|---|---|
|`wrangler dev`|`gzip, deflate, br`|`null`|Header does not exist|
|`wrangler preview`|`gzip, deflate, br`|`null`|Header does not exist|
|`wrangler publish`|`gz

[2020-06-30 19:52] EverlastingBugstopper commented on #1425
This will be fixed when we release the stuff in #1085 - i just tested `wrangler dev` with source built from branch `avery/edge-dev-server` and i get the following:

|command|`console.log(accept_encoding)`|`console.log(content_encoding)`|observed `Content-Encoding` response header|
|---|---|---|---|
|`wrangler dev`|`gzip`|`null`|br|

this is the same you see when you publish a worker 😄

[2020-07-01 19:59] bradyjoslin commented on #1420
This must be why `wrangler tail | jq` hasn't been working for me - realize it started after I recently updated `cloudflared`.  I'm also not sure how to download a previous version of `cloudflared`.

[2020-07-01 20:42] ashleymichal commented on #1420
hey! this bit us too, so we asked cloudflared to revert their logging. i think we should still send their stdout stream to /dev/null the way we do with  their stderr stream, but in the meantime this should be solved for users by updating to the latest version of cloudflared.

[2020-07-01 20:46] #1420 closed

[2020-07-01 20:47] ashleymichal opened #1432 "send cloudflared stdout stream to /dev/null when not --verbose"
_Originally posted by @ashleymichal in https://github.com/cloudflare/wrangler/issues/1420#issuecomment-652636482_

[2020-07-02 12:34] RaniSputnik opened #1434 "Pre-filtering to prevent: too much traffic for live tailing"
### 💡 Feature request

#### Overview and problem statement

We are seeing exceptions in production that we are struggling to diagnose. We have followed all of [the debugging tips]() here, including wrapping our handler in a try/catch and firing off error logs but I still have no visibility into the errors which suggests to me the exceptions are being thrown outside of the handler. Unfortunately, w

[2020-07-02 20:39] ecerroni commented on #1047
@EverlastingBugstopper

Trying recreating the issue from scratch using a different remote schema I realized that the culprit is in the json file I am trying to require and pass in the remoteExecutableSchema.

If the file is small there is no problem.
If the size is around 100kB it does not work on wrangler dev, but it does after publishing (although I might retry a couple of times).
If the file is

[2020-07-02 22:46] EverlastingBugstopper commented on #1047
🤔 - hmmmm.... unfortunately, i have no clue what your issue is from reading this. if you could link a repository in a new issue with detailed steps to reproduce, i'll be more than happy to take a look. for now, logging off for the long weekend here in the US!

[2020-07-03 10:25] ecerroni opened #1435 "[dev] apollo-cloudflare-server having issue with wrangler dev/publish depending on local schema size"
Originally mentioned [here](https://github.com/cloudflare/wrangler/issues/1047#issuecomment-651682704)

Requiring a local json file and passing it to makeRemoteExecutableSchema works differently depending on the json file size:

small => wrangler dev works | wrangler publish works
medium => wrangler dev does not work | wrangler publish works (it might not deploy at first, but you have to retry)
bi

[2020-07-03 10:28] ecerroni commented on #1047
@EverlastingBugstopper

Sure, enjoy your weekend :)

In the meantime, I created an issue [here](https://github.com/cloudflare/wrangler/issues/1435) with a reproducing repo

[2020-07-04 16:18] #1172 closed

[2020-07-04 16:18] #1193 closed

[2020-07-04 16:18] #645 closed

[2020-07-04 16:18] #858 closed

[2020-07-04 16:18] #1187 closed

[2020-07-04 16:18] #1106 closed

[2020-07-04 16:18] #773 closed

[2020-07-04 21:18] #1208 closed

[2020-07-06 18:30] EverlastingBugstopper opened #1439 "building wrangler is broken today"
seems like a borked release of hyper-tls was made today which broke reqwest which in turn broke wrangler.

this will affect folks who attempt to install from crates.io today but not from npm

you can follow along [here](https://github.com/hyperium/hyper-tls/issues/71)

[2020-07-06 20:07] EverlastingBugstopper commented on #1439
they yanked the release - this is solved 😄

[2020-07-06 20:07] #1439 closed

[2020-07-07 12:57] Serrvosky commented on #337
What's the state of this issue? This would be great to insert the publish step on a pipeline.

[2020-07-07 14:24] arunsathiya opened #1441 "Worker continues to be associated with old KV namespace after deleting the namespace from website"
### 🐛 Bug Report

After deleting a KV namespace on the Cloudflare website, I create a new KV namespace for my worker and add it to my `wrangler.toml` file. But, on publishing this new worker script, I see a 10041 error, quoting the old namespace ID.

#### Environment

* operating system: macOS Catalina 10.15.5 (19F101)
* output of `rustc -V`: NA
* output of `node -v`: v12.16.1
* output of `wrangle

[2020-07-07 14:49] arunsathiya commented on #1441
Oh, this is my bad. I was working on two projects with the same name, and my older project's `wrangler.toml` was open on VScode. So, I was making edits to the old `wrangler.toml` but was trying to publish new `wrangler.toml`. 😂 All good!

[2020-07-07 14:49] #1441 closed

[2020-07-07 16:31] EverlastingBugstopper opened #1442 "[dev] use tosocketaddr implementation"
[check it out](https://github.com/rust-lang/rust/pull/73007)

[2020-07-07 16:43] ashleymichal commented on #1434
@RaniSputnik this is a platform level feature request; the work to be done needs to come from the runtime and core api as well as Wrangler, and has not yet been prioritized, but we do have a few ideas around improving the tracing experience in Workers. I'll raise an internal ticket and link this issue. If any work is added to the roadmap I'll be sure to post updates here.

[2020-07-08 15:47] #1105 closed

[2020-07-09 21:09] #1201 closed

[2020-07-10 19:47] jspspike commented on #1138
Hey @bradyjoslin are you planning on making a PR with that change? I can do it if you would like

[2020-07-11 05:30] bradyjoslin commented on #1138
Hi @jspspike - please feel free to run with the PR.  Thanks for checking!

[2020-07-12 01:32] manatarms commented on #1270
Comment to reopen issue. Been busy, I'll make a PR to fix

[2020-07-13 08:42] GregBrimble opened #1446 "Improve binary installation failure message"
### 🐛 Bug Report

#### Environment

* operating system:
* output of `rustc -V`: `rustc 1.44.0 (49cae5576 2020-06-01)`
* output of `node -v`: `v12.13.1`
* output of `wrangler -V`: `👷 ✨  wrangler 1.10.3`
* contents of `wrangler.toml`: n/a

#### Steps to reproduce

1. Block github.com or disconnect from your network.
1. `npx @cloudflare/wrangler whoami`
1. Find the following messages:

    <details>

[2020-07-13 11:47] #1254 closed

[2020-07-13 13:35] ispivey commented on #1446
Good call, thanks for the report @GregBrimble !

[2020-07-13 14:07] ashleymichal commented on #896
this should stay.

[2020-07-13 16:19] luanraithz commented on #1284
This validation seems to be [here](https://github.com/cloudflare/wrangler/blob/master/src/main.rs#L1061). Is there any other place it should be?

[2020-07-13 16:37] EverlastingBugstopper commented on #1284
that seems correct @luanraithz.

@ashleymichal something else we should be doing?

[2020-07-13 16:39] ashleymichal commented on #1284
nope. probably just didn't get closed when it should have.

[2020-07-13 16:39] #1284 closed

[2020-07-13 21:34] #1138 closed

[2020-07-13 22:47] jspspike commented on #1216
I'll take a look at this issue

[2020-07-13 23:50] jspspike commented on #1432
I'll take a look at this one

[2020-07-14 14:48] ashleymichal commented on #704
this should stay.

On Mon, Jul 13, 2020 at 4:48 PM stale[bot] <notifications@github.com> wrote:

--

*Ashley Lewis*
alewis@cloudflare.com
<https://www.cloudflare.com/>

1 888 99 FLARE  |  www.cloudflare.com

[2020-07-14 14:50] ashleymichal commented on #675
this has been done: https://github.com/cloudflare/wrangler/blob/master/src/commands/publish.rs#L105

[2020-07-14 14:50] #675 closed

[2020-07-14 14:51] ashleymichal commented on #855
gonna keep all wrangler build milestone items open

[2020-07-14 15:06] ashleymichal commented on #1266
best guess is that this is a workers site where as part of publish wrangler is looking for the bucket directory and finding nothing. we should update draft to really just publish a hello world worker.

[2020-07-14 15:31] #1216 closed

[2020-07-14 15:41] #1432 closed

[2020-07-16 08:20] roshanjonah commented on #680
How exactly did you guys address this problem? Do I just manually edit the package.json file and put it as 0.0.2? I am facing similar issue with my hugo build. Also the WWW extension wouldn't work only the one without www extension loads. No idea how to fix that!

[2020-07-16 15:10] EverlastingBugstopper commented on #680
@roshanjonah - yes, you should be able to manually edit your package.json file to update kv-asset-handler. Our latest release is version 0.0.11 though, so I'd set it to that instead of 0.0.2 :)

[2020-07-16 19:03] #903 closed

[2020-07-16 19:17] signalnerve commented on #1435
hey @ecerroni - just so i can understand, can you drop the file sizes of each schema in this issue? my first instinct here is that something related to adding a big file into the workers bundle, and maybe not specifically related to the workers graphql project. let me know and we can continue to debug. thanks!

[2020-07-18 05:12] #1263 closed

[2020-07-18 05:12] #1268 closed

[2020-07-19 23:26] simonhaenisch commented on #860
Would like this as well!

[2020-07-20 23:59] #554 closed

[2020-07-20 23:59] #1146 closed

[2020-07-20 23:59] #696 closed

[2020-07-20 23:59] #483 closed

[2020-07-21 13:08] #380 closed

[2020-07-21 13:08] #794 closed

[2020-07-21 14:40] ashleymichal commented on #1229
closing as solvable by #1064

[2020-07-21 14:40] #1229 closed

[2020-07-22 22:14] ispivey opened #1458 "Improve "you must designate a preview_id for each KV namespace" error to direct users to a solution"
### 💡 Feature request

With the introduction of preview namespaces, users may run `wrangler dev` or `wrangler preview` and see an error like `Error: In order to preview a worker with KV namespaces, you must designate a preview_id for each KV namespace you'd like to preview.`

However, we've heard from users who weren't sure what to do next: how do you designate a `preview_id` for each KV namespace

[2020-07-23 16:36] kentonv opened #1459 "Incorrect error line numbers in wrangler dev"
### 🐛 Bug Report

#### Environment

* operating system: Linux
* output of `rustc -V`: rustc 1.43.1 (8d69840ab 2020-05-04)
* output of `node -v`: v12.18.2
* output of `wrangler -V`: wrangler 1.10.3
* contents of `wrangler.toml`

#### Steps to reproduce

1. Write a script containing a syntax error.
2. Run `wrangler dev`.
3. Send a request to the local server.

#### What did you expect to see?

[code

[2020-07-23 18:08] codewithkristian opened #1460 "RFC: Machine-readable output for wrangler publish"
# Situation

When running `wrangler publish`, the user receives the following console output:

[code]

If something goes wrong, they receive an error string in console output:

[code]

# Problem

For situations where projects are being deployed _automatically_, via [GitHub Actions](https://github.com/cloudflare/wrangler-action) or something similar, this output is buried inside of the console outp

[2020-07-23 18:18] ashleymichal commented on #1460
i'd like to talk about this in terms of program output (STDOUT) versus diagnostic output (STDERR), where STDOUT acts almost as an api-style contract for the purpose of piping to other processes in a more UNIX-like fashion. with that mindset, what information should be part of the output on a successful publish? what information should be a part of the output in the case of an error?

[2020-07-24 11:56] TooYoungTooSimp commented on #1046
Meet the same problem. Hope it can be fix soon.

[2020-07-24 16:26] ashleymichal commented on #1367
added as sub-task to #1366

[2020-07-24 16:26] #1367 closed

[2020-07-24 16:35] ispivey commented on #1460
I wrote some related thoughts about the structure of `tail` output here: https://github.com/cloudflare/wrangler/issues/1368#issuecomment-642600570

[2020-07-26 11:41] gardner commented on #93
Documenting requirements of the platform seems like a reasonable request. Please consider re-opening this and adding information to the README.md about what records are required to be in place before using `wrangler publish`. Thanks

[2020-07-26 19:09] normanr commented on #1047
There are at least two node instances, so I found that making the inspector use a random port with `NODE_OPTIONS="--inspect=:0"` at least gets things running successfully. I haven't been able to inspect my code though. I suspect because as EverlastingBugstopper said "Cloudflare Workers are not executed within the context of a Node runtime". So the node instances you can attach to are running other

[2020-07-27 14:59] orium opened #1464 "Segmentation fault after wrangler executes its command"
### 🐛 Bug Report

wrangler crashes with a segmentation fault after running the given command.  This apparently only happens with release build and not with debug builds.  Reproducible with wrangler version 1.10.3 as well as master (as of b601101); also reproducible with both rustc 1.45.0 (5c1f21c3b 2020-07-13) as well as rustc 1.46.0-nightly (346aec9b0 2020-07-11).

#### Environment

* operating s

[2020-07-27 15:09] kentonv commented on #1464
I've noticed this too. Seems to be common after error messages, but it doesn't always happen.

[2020-07-27 15:17] EverlastingBugstopper commented on #1464
are you able to reproduce this issue if you build with the command `cargo build --release --features vendored-openssl`?

[2020-07-27 16:05] orium commented on #1464
Still have a segmentation fault.

[2020-07-27 16:07] orium commented on #1464
It seems the issue goes away if I have a `~/.wrangler/version.toml`...

[2020-07-27 17:56] EverlastingBugstopper commented on #1047
Hey @normanr - we have an issue for that here: #946, but it has not been prioritized and i'm not sure when it will be

[2020-07-27 20:19] #487 closed

[2020-07-27 22:51] orium commented on #1464
I could minify the bug to this:

[code]

Still get the segmentation fault almost all the time.  It looks like it might be cause by https://github.com/sfackler/rust-openssl/issues/1293.

Ref https://github.com/rustwasm/wasm-pack/issues/823

[2020-07-28 06:53] normanr commented on #1047
ack, I've subscribed to it, thanks!

[2020-07-28 17:04] EverlastingBugstopper commented on #1464
That does seem to be the issue doesn't it - nice job tracking it down! If your PR gets merged upstream and a release is cut we'll be sure to update the dependency. Thanks a bunch @orium!

[2020-07-28 20:27] adamschwartz opened #1466 "Change "Unlimited" => "Bundled" wrangler `10026` error message"
![image](https://user-images.githubusercontent.com/154613/88717811-18335580-d0ef-11ea-8cec-b4ca28f99a99.png)

cc @rita3ko

[2020-07-28 22:01] EverlastingBugstopper opened #1468 "it_can_preview_rust_project is failing on master"
seems like it's failing on wasm-opt which isn't great but we i can disable it on the project we test with since it seems to be an upstream issue

[2020-07-29 16:22] #1468 closed

[2020-07-29 19:46] #1466 closed

[2020-07-29 21:51] mskd12 commented on #1047
@EverlastingBugstopper is it possible to automatically set some environment variables only when using `wrangler dev`? Sounds like something basic, so sorry if I missed it in the docs somehow.

[2020-07-29 21:53] PierBover commented on #1047
@mskd12 you can set up different environments and create vars for each environment.

See the docs:

https://developers.cloudflare.com/workers/tooling/wrangler/environments/

[2020-07-30 00:38] mskd12 commented on #1047
@PierBover I did check it, but I was not sure about the interaction between environments and `wrangler dev`. Does calling `wrangler dev` automatically set the environment to `dev`?

[2020-07-30 11:13] JanMouwes commented on #266
For Mac users and for future reference: I've found that when installing npm packages globally, it takes a restart to register them so they're available for use.

[2020-07-30 16:09] EverlastingBugstopper commented on #1047
@mskd12 - no, environments work the same exact way they do for any other command. if you dont specify an `--env`, it will use your top level configuration. if you want to use the `dev` environment you must `wrangler dev --env dev`

[2020-08-01 01:08] CoolOppo opened #1474 ""Fatal: error in validating input" with rustwasm-worker-template"
### 🐛 Bug Report

#### Environment

* operating system: Windows
* output of `rustc -V`: rustc 1.45.1 (c367798cf 2020-07-26)
* output of `node -v`: v14.1.0
* output of `wrangler -V`: wrangler 1.10.3
* contents of `wrangler.toml`: Default contents after running `wrangler generate my-app https://github.com/cloudflare/rustwasm-worker-template`

#### Steps to reproduce

1. Run `wrangler generate my-app

[2020-08-01 02:01] ispivey commented on #1474
I ran in to this today as well. It looks like this is caused by https://github.com/rustwasm/wasm-pack/issues/886 , which is explored more in https://github.com/WebAssembly/binaryen/issues/3006 .

If you're just getting started, you can add this to your `Cargo.toml`:

[code]

That disables running the `wasm-opt` optimization step, which will at least get you unblocked. Should be more news or an ups

[2020-08-01 02:12] CoolOppo commented on #1474
Thanks for the response @ispivey, much appreciated. You're definitely right as I just installed Ubuntu in a VM and it happens there as well.

[2020-08-01 02:15] CoolOppo commented on #1474
Just thought of something: It would be helpful if the error output said specifically to put `wasm-opt = false` under `[package.metadata.wasm-pack.profile.release]` in case an upstream error occurs in the future.

[2020-08-01 13:35] ChristianSiegert opened #1475 "Remove emojis from CLI"
Executing `wrangler` on the command-line lists available subcommands. Each subcommand’s explanation is prefixed with an emoji. I imagine the person picking the emojis had lots of fun but I find them very distracting and not helpful at all. Could you please consider removing the emojis?

[2020-08-01 15:00] ispivey commented on #1475
Thanks for opening an issue, but we’re not planning to change this at this time.

[2020-08-01 15:00] #1475 closed

[2020-08-04 20:50] istiyakaminsanto commented on #240
`istiyak@istiyak-amin:/var/www/html/cf-worker$ wrangler --help

/usr/lib/node_modules/@cloudflare/wrangler/node_modules/binary-install/src/binary.js:60
      throw `You have not installed ${this.name ? this.name : "this package"}`;
      ^
You have not installed wrangler
(Use `node --trace-uncaught ...` to show where the exception was thrown)
istiyak@istiyak-amin:/var/www/html/cf-worker$

`

The s

[2020-08-04 20:55] istiyakaminsanto opened #1479 "wrangler was not installed successfully"
### wrangler was not installed successfully

`/usr/lib/node_modules/@cloudflare/wrangler/node_modules/binary-install/src/binary.js:60
      throw `You have not installed ${this.name ? this.name : "this package"}`;
      ^
You have not installed wrangler
(Use `node --trace-uncaught ...` to show where the exception was thrown)
`

[2020-08-05 03:22] rodrigopv commented on #1479
Happened the same to me on debian stretch. I supposed it was because my NPM install was done with APT.

I've tried another VM with Ubuntu 20.04, with Node installed from NVM and then:

`# npm -g install @cloudflare/wrangler
/root/.nvm/versions/node/v10.20.1/bin/wrangler -> /root/.nvm/versions/node/v10.20.1/lib/node_modules/@cloudflare/wrangler/run-wrangler.js

internal/modules/cjs/loader.js:638

[2020-08-05 19:31] #1282 closed

[2020-08-06 10:35] SukkaW opened #1481 ""Maximum call stack size exceeded" when installing wrangler (install-wrangler.js)"
### 🐛 Bug Report

#### Environment

* operating system: `ubuntu-latest` from GitHub Action
* output of `rustc -V`:
* output of `node -v`: `12.8.1`
* output of `wrangler -V`: 1.10.3
* contents of `wrangler.toml`

It doesn't matter.

#### Steps to reproduce

Using [wrangler-action](https://github.com/cloudflare/wrangler-action) provided by Cloudflare, Inc.

#### What did you see instead?

![image](h

[2020-08-06 16:45] adervish commented on #1129
I'm on wrangler 1.10.3 and experiencing this issue

[2020-08-06 16:59] GregBrimble opened #1483 "Store Wrangler build artifact in KV"
### 💡 Feature request

On build, store the Wrangler artifacts in KV alongside their current place in GitHub Releases.

[2020-08-06 17:05] delphaber commented on #1159
But it seems not working when using environments :(

[code]

[code]

[2020-08-06 17:09] EverlastingBugstopper commented on #1159
@delphaber you'll need to define like so

[code]

the error you're seeing is because your TOML is invalid - you can copy and paste your toml file [here](https://www.toml-lint.com/) and see that it gives you a very similar error

[2020-08-06 17:13] delphaber commented on #1159
Thank you!

[2020-08-06 19:17] Kreyren opened #1484 "Cloudflare is too painful to be used on privacy respecting system"
Maintainers: Please transfer this issue to an appropriate tracker.

---

## Issue

Currently it's painful to use any Cloudflare website on a system that respects privacy, because Cloudflare requires:
1. Javascript
![image](https://user-images.githubusercontent.com/11302521/89572530-81bb0e80-d829-11ea-92d5-48b44f28953c.png)
2. Cookies
![image](https://user-images.githubusercontent.com/11302521/8957

[2020-08-06 19:34] EverlastingBugstopper commented on #1484
we do not field general cloudflare requests in this repository, please contact customer support. thanks

[2020-08-06 19:34] #1484 closed

[2020-08-07 14:35] ashleymichal commented on #1460
following up for the sake of today's discussion, i think i like the idea of an  `-o | --output` flag, as suggested by @ispivey in the comment linked above, as well as standardizing the human readable standard output.

the existing progress messages could be moved to STDERR, but the final output (name, url, environment) should be delivered via STDOUT so they can be piped easily. i can see how envir

[2020-08-08 01:06] jspspike commented on #1459
Should be fixed [here](https://github.com/EverlastingBugstopper/chrome-devtools-rs/pull/46). Will put up a PR to update dependency once this gets merged.

[2020-08-08 10:34] jdanyow commented on #1321
This should remain open

[2020-08-09 23:36] veikkoeeva commented on #1458
Sorry for barging here afterwards like this, but I opened a SO question about this very thing at https://stackoverflow.com/questions/63332306/what-are-cloudflare-kv-preview-ids-and-how-to-get-one.

The problem is that it's not clear what these identifiers really are and how they relate to what gets deployed. It appears the official documentation at https://developers.cloudflare.com/workers/tooling

[2020-08-10 15:55] jbeeko opened #1489 "wrangler kv:namespace create "MyKV" hangs on free accounts"
### 🐛 Bug Report

#### Environment

* operating system: MacOS
* output of `rustc -V`: N/A
* output of `node -v`: v12.18.1
* output of `wrangler -V`: wrangler 1.10.3
* contents of `wrangler.toml`

[code]

#### Steps to reproduce

* create a free account
* configure `wrangler` authentication
* execute `wrangler v:namespace create "MyKV"`

#### What did you expect to see?
Command complete with a noti

[2020-08-10 16:00] jbeeko opened #1490 "Some access to KV Store on free accounts when deploying to preview using wrangler dev"
### 💡 Feature request

#### Overview and problem statement

I am writing a blog post on how to get started with workers using F# and Fable the JS transpiler. Part of the post discusses KV. Because KV is not available for free accounts is no way for readers to follow along without a paid account. If there was access to KV, even if only on a preview deploy, it would be more likely users will try thi

[2020-08-10 16:45] EverlastingBugstopper commented on #1458
I've answered on the SO post but I'll xpost here:

---

Yes! The reason there is a different identifier for preview namespaces is so that when developing with `wrangler dev` or `wrangler preview` you don't accidentally write changes to your existing production data with possibly buggy or incompatible code. You can add a `--preview` flag to most `wrangler kv` commands to interact with your preview

[2020-08-10 17:53] jspspike commented on #1459
Seems like the line and column numbers provided in that devtools message are incorrect. Probably need to use sourcemap to solve this issue.

[2020-08-10 18:12] EverlastingBugstopper commented on #1459
they seem to even be incorrect for vanilla javascript uploads w/o webpack.... not sure whats going on there

[2020-08-10 19:42] koeninger commented on #1490
We're definitely aware that some form of access to free KV is a desired feature.

Thanks for working on an F# / Fable post, feel free to ping me if I can be of assistance.

[2020-08-11 02:43] jbeeko commented on #1490
@koeninger Thanks for your offer. That post is up here https://github.com/jbeeko/cfworker-web-api.

On a related note, I read your blog post on Worker language support and noticed you are taking PRs for language support templates. If I submit a PR for FSharp will it be considered?

[2020-08-11 15:59] koeninger commented on #1490
Nice, I shared that blog post internally.

A template for F# would be great.

[2020-08-11 20:16] jspspike opened #1494 "Make `--host` in `wrangler dev` use unauthenticated instead of ignoring argument"
### 💡 Feature request

Currently if you pass `--host` to `wrangler dev` while authenticated it will just ignore it since it makes sense to use the host provided in the `wrangler.toml`. Instead it should run unauthenticated dev using the provided host.

[2020-08-11 22:23] SupremeTechnopriest commented on #1047
Would be nice to be able to define a port in `workers dev --host https://localhost:3000`.  Currently the port is stripped out.

[2020-08-12 03:57] normanr commented on #1047
I think you need to pass the port using the --port flag (#1477 made it so that it can also be set in wrangler.toml).

[2020-08-12 16:44] #516 closed

[2020-08-12 16:48] EverlastingBugstopper commented on #1047
@SupremeTechnopriest there are two things going on here

1) `--host` is meant for setting your upstream host. as in, when you access `request.url` in your Worker, what host is it? You can't really set `--host` to anything that isn't running on the public Internet so if you want `request.url` to go to something running on port 3000 you must first expose it to the Internet with a tool like cloudflar

[2020-08-12 17:55] SupremeTechnopriest commented on #1047
@EverlastingBugstopper So even though I'm running `dev` the worker is still running in the cloudflare backplane and it is just forwarding the logs to my machine? I assumed the worker was actually running on my machine, therefore localhost as a upstream host would be ok.  I ended up just using a tunnel.

[2020-08-12 18:18] EverlastingBugstopper commented on #1047
Yup, running on Cloudflare's servers

[2020-08-12 18:47] SupremeTechnopriest commented on #1047
@EverlastingBugstopper Thanks for the info!  Makes sense now.

[2020-08-12 20:08] nataliescottdavidson commented on #980
I think @gabbifish 's comment still stands. The overrides truly do override all the existing paths in the [crate we are depending on to walk the directory](https://docs.rs/ignore/0.4.16/ignore/struct.WalkBuilder.html). This behavior seems really weird, so I've asked a [question on the repository page](https://github.com/BurntSushi/ripgrep/discussions/1652).

[2020-08-12 20:16] Electroid commented on #924
Tunnel team now publishes releases to Github: https://github.com/cloudflare/cloudflared/releases

[2020-08-12 20:19] Electroid opened #1496 "Reduce `cloudflared` log spam"
When using `wrangler tail`, the logs from `cloudflared` are fully visible:

[code]

This isn't really useful for devs, it also seems like unnecessary log spam. Maybe this should be hidden by default?

[2020-08-12 20:40] #1204 closed

[2020-08-12 20:41] EverlastingBugstopper commented on #1496
shouldnt happen with latest version of cloudflared, this was a regression in the version you have installed i believe

[2020-08-12 20:41] EverlastingBugstopper commented on #924
still no macos binaries unfortunately

[2020-08-12 21:09] jspspike opened #1497 "Override `wrangler dev` https cert and private key from `wrangler.toml`"
### 💡 Feature request

`wrangler dev` generates two files in order to run a local https server. `<wrangler-home>/config/dev-cert.pem` and `<wrangler-home>/config/dev-privkey.rsa`. In order to override these you currently have to place your files in `<wrangler-home>/config` with those names. Instead it would be nice if under `[dev]` in the `wrangler.toml` you could point to these files.

[code]

[2020-08-12 21:54] Electroid commented on #1496
Yep, thanks. Looks great now.

[2020-08-12 21:54] #1496 closed

[2020-08-12 22:11] #1494 closed

[2020-08-13 10:44] lostpebble commented on #781
I wish CloudFlare would have been more upfront about this very serious disadvantage of webworkers and compiling JS code for it. From the docs you make it sound as if all NPM packages are compatible, but the truth of the matter is **loads** of packages implement something on top of either the native Node.js or browser APIs, or can only be deployed on Node.js because of other native system constrain

[2020-08-14 16:00] GregBrimble commented on #1483
| Key | Value | Metadata |
| --- | --- | --- |
| `https://github.com/cloudflare/wrangler/releases/download/v1.10.3/wrangler-v1.10.3-x86_64-apple-darwin.tar.gz` | BINARY CONTENT | `{ headers: { "Content-Type": "application/octet-stream", /* ... */ }, status: 200, statusText: "OK" }`

[2020-08-14 17:37] EverlastingBugstopper commented on #1479
you might need to update node

[2020-08-14 17:38] EverlastingBugstopper commented on #1481
does this happen on newer versions of node?

[2020-08-14 17:56] SukkaW commented on #1481
@EverlastingBugstopper

I configured my GitHub Action with `node-12.x`. And as I mentioned, when I open the issue the latest Node.js 12 is `12.8.1`.

Since `12.8.3` is out and GitHub Action back to normal, I believe the issue has been solved.

[2020-08-14 17:57] #1481 closed

[2020-08-15 11:46] oligirling opened #1503 "wrangler tail - no logs"
### 🐛 Bug Report

#### Environment

* operating system: **macOs**
* output of `rustc -V`: n/a
* output of `node -v`: **v13.6.0**
* output of `wrangler -V`: **1.10.3**
* contents of `wrangler.toml`:
[code]

#### Steps to reproduce
Running `wrangler tail` doesn't seem to do anything for me. I have tested this for an endpoint that is working, and an endpoint that is throwing an exception, nothing get

[2020-08-15 15:35] RobinCodeX opened #1504 "Access is denied (os error 5) on occurs when "wrangler generate" is used in Windows 10"
### 🐛 Bug Report

#### Environment

* operating system: Windows 10 2004
* output of `rustc -V`: 1.45.2 (d3fb005a3 2020-07-31)
* output of `node -v`: v12.13.0
* output of `wrangler -V`: 1.10.3
* contents of `wrangler.toml`: None

#### Steps to reproduce

[code]

https://community.cloudflare.com/t/how-to-solve-access-is-denied-os-error-5-on-wrangler-generate/197931

[2020-08-17 04:51] normanr commented on #1198
You can do this without exposing to the local network, but it requires that you create multiple TcpListeners (one for 127.0.0.1 and one for ::1).

The preferred way to do this is to call getaddrinfo and then bind to _all_ of the returned addresses. Either hint SOCK_STREAM, or filter the returned results for SOCK_STREAM socktypes. Also you could probably pass None for the hostname instead of Some("

[2020-08-17 16:43] EverlastingBugstopper opened #1506 "[dev] listen on ipv4 and ipv6 by default"
You can do this without exposing to the local network, but it requires that you create multiple TcpListeners (one for 127.0.0.1 and one for ::1).

The preferred way to do this is to call getaddrinfo and then bind to _all_ of the returned addresses. Either hint SOCK_STREAM, or filter the returned results for SOCK_STREAM socktypes. Also you could probably pass None for the hostname instead of Some("

[2020-08-17 16:43] EverlastingBugstopper commented on #1506
cc @jspspike this might interest you

[2020-08-17 16:55] EverlastingBugstopper commented on #1504
@RobinCodeX - the team is unable to reproduce this error. How do you have node installed? This seems like a permissions error and this can happen if you haven't installed node with a version manager like [nodist](https://github.com/nullivex/nodist)

[2020-08-18 17:39] EverlastingBugstopper opened #1508 "[dev] rewrite redirect responses to local server"
if wrangler dev gets a redirect response AND the redirect is to the same zone the worker is running on, make the request go to wrangler dev again (i think)... might be a little weird, we want to make sure we dont allow something that we dont allow in production

[2020-08-19 02:34] RobinCodeX commented on #1504
@EverlastingBugstopper Yes, I have installed node.
Now, I have reinstalled node by nodist, node version is 14.8.0,
However, this problem still exists and I run in administrator mode.
I don’t understand what causes this permission problem.
Even in administrator mode, I still have this permission problem, but I can run it correctly in WSL.

[2020-08-19 18:12] JakubKoralewski opened #1510 "wrangler dev: panicked at 'Failed to connect to devtools instance'"
### 🐛 Bug Report

#### Environment

* operating system: Microsoft Windows [Version 10.0.18363.1016]
* output of `rustc -V`: rustc 1.44.1 (c7087fe00 2020-06-17)
* output of `node -v`: v14.5.0
* output of `wrangler -V`: wrangler 1.10.3
* contents of `wrangler.toml`

[code]

#### Steps to reproduce

If I leave `wrangler dev` running for a long time sometimes this happens. It is unclear for me why. It

[2020-08-20 14:14] simplenotezy opened #1511 "Support publish with a large amount of assets"
When deploying large sites it takes quite a while to publish a site. It would be really cool if there was a way to split out on multiple threads so upload could run faster. Is this possible, or perhaps already on the backlog?

E.g. the publish time is the same when running on a 2 core server vs a 8 core server, and it would be nice to be able to take advantage of available server resources

[2020-08-20 15:02] mdjx commented on #1503
Ensure that you don't already have something running on localhost on ports 8080 or 8081. I had the same issue with `wrangler tail` and it was due to another service using port 8081.

You can specify a custom port with `wranger tail --port xxxx`

[2020-08-20 16:10] #1064 closed

[2020-08-20 21:36] suzannealdrich opened #1514 "Login command doesn't work"
### 🐛 Bug Report

#### Environment

* operating system: macOS 10.15.6 (19G2021)
* output of `rustc -V`: n/a
* output of `node -v`: v14.8.0
* output of `wrangler -V`: 👷 ✨  wrangler 1.10.3
* contents of `wrangler.toml`

#### Steps to reproduce

#### What did you expect to see?

wrangler login

Authenticate Wrangler with your Cloudflare login. This will prompt you with a Cloudflare account login page

[2020-08-20 22:21] Cherry commented on #1514
`wrangler login` is only available on wrangler version >`1.11.0`, which is currently a pre-release. See https://github.com/cloudflare/wrangler/releases, and you can try the new version with `npm i @cloudflare/wrangler@beta -g`.

It looks like `1.11.0` is due for release really soon though 👀 https://github.com/cloudflare/wrangler/pull/1513

[2020-08-20 22:26] ashleymichal commented on #1514
@Cherry is correct, we're aiming to release 1.11.0 tomorrow, which will bring both login and dev out of beta. Looks like we jumped the gun adding login to the docs, apologies!

[2020-08-21 08:55] dgitq commented on #1262
Hello! I use this in the same way when devleoping locally and it was never answered why the connection is refused when proxying from local react dev server? I do not agree that adding code for handling CORS is a good way to handle this. That code is only valid for development purposes since it will be served from the same hostname in production. For me it's bad design to add this special code for

[2020-08-21 20:25] EverlastingBugstopper opened #1515 "🌊 I'm leaving Cloudflare"
Hey y'all.

It is with a heavy heart that I'm announcing my departure from Cloudflare - today is my last day. I've absolutely loved working with the Workers community and I'm really excited to see what everyone builds with the platform we've created together.

Before I leave, I'm cutting a release of one last version of Wrangler which brings a bunch of new features to `wrangler dev` and should rea

[2020-08-22 04:48] JasonCoombs opened #1517 "npm install -g @cloudflare/wrangler Error: EACCES: permission denied, mkdir"
### 🐛 Bug Report

NOTE:
  Please fill out each section below before submitting your 🐛 bug report.

  Before opening a new issue, please:
  * search for existing issues: https://github.com/cloudflare/wrangler/issues
  * make sure you are using the latest release: https://workers.cloudflare.com/docs/quickstart/updating-the-cli/

BUG REPORT TEMPLATE PROBLEM:

404 NOT FOUND on https://workers.cloudfla

[2020-08-24 00:23] Friss opened #1520 "Ignore extra large files when publishing"
### 💡 Feature request

#### Overview and problem statement

Currently the `publish` command will fail if it comes across a file that is too large. I'd like to have the ability to just skip those files and continue uploading the rest of the site. I'm using `nextjs export` which generates minified and non minified files and I can just ignore anything too big. (In the future I'll probably upload ever

[2020-08-24 13:32] oligirling commented on #1503
Looks like this was it! Thanks!

[2020-08-24 13:32] #1503 closed

[2020-08-24 13:52] dgitq opened #1521 "Cannot proxy from react dev server to workers"
Hello! I use react when developing locally and the connection is refused when proxying from local react dev server to localhost:8787 instance started with 'wrangler dev'?

package.json in my react app has: "proxy": "http://localhost:8787"

Proxy error: Could not proxy request /api/test from localhost:3000 to http://localhost:8787.
See https://nodejs.org/api/errors.html#errors_common_system_errors

[2020-08-24 18:21] shalzz commented on #771
Hi, are there no plans to work on this?

[2020-08-25 02:11] MHuiG opened #1523 "Error: spawnSync C:\Users\abc\.wrangler\bin\wrangler UNKNOWN"
### 🐛 Bug Report

#### Environment

* operating system: win 10

![image](https://user-images.githubusercontent.com/38281581/91114934-a6353880-e6bb-11ea-8679-f609ec726bb6.png)

* output of `rustc -V`:
![image](https://user-images.githubusercontent.com/38281581/91113860-1d1d0200-e6b9-11ea-8cc2-71aeba43471a.png)

* output of `node -v`:
![image](https://user-images.githubusercontent.com/38281581/91113

[2020-08-25 06:56] MHuiG commented on #1517
sh: 1: node: Permission denied

解决这个问题的方法如下

npm config set user 0
npm config set unsafe-perm true

[2020-08-25 08:02] jpwilliams commented on #1415
Can I "bump" my own ticket? This is still an issue,

[2020-08-25 08:15] MHuiG commented on #1523
not bug

[2020-08-25 08:15] #1523 closed

[2020-08-25 12:36] 0dinD opened #1525 "Regression: cannot start a local unauthenticated dev server without an account id in wrangler.toml"
### 🐛 Bug Report

#### Environment

* operating system: Linux (Debian 10 Buster)
* output of `rustc -V`: N/A
* output of `node -v`: v14.8.0
* output of `wrangler -V`: 👷 ✨  wrangler 1.11.0
* contents of `wrangler.toml`:
[code]

#### Steps to reproduce
1. Create a valid worker
2. Run `wrangler dev`

#### What did you expect to see?
[code]

#### What did you see instead?
[code]

#### Further comments

[2020-08-25 13:42] osdiab commented on #1286
Would it at least be possible to make the install path configurable? I’m resorting to just checking the binary into my project because of this issue.

[2020-08-25 14:21] ispivey commented on #1286
@osdiab that stinks 😕  we know we're overdue to revisit how the installer works. We'll talk it through soon and see if there's a simple way to unblock per-project installation and configuration.

[2020-08-25 14:26] ispivey commented on #1515
Closed with status "changelog - BREAKING MY HEART"

[2020-08-25 14:26] #1515 closed

[2020-08-25 20:29] kalepail opened #1529 "dev needs to support for custom routes"
### 💡 Feature request

#### Overview and problem statement

Since Wrangler dev is now using a proxy through custom routes we need the ability to identify custom routes. Right now it requires a root base route (example.com), we need to be able to support other routes (dev.example.com) or at the very least use wrangler_dev true in the `[dev]` block.

[2020-08-25 21:29] nataliescottdavidson commented on #980
It looks like getting a fix for `ignore::WalkBuilder` not traversing directories recursively when overrides are given is unlikely. My understanding is that the maintainer of ripgrep[ isn't accepting changes on the include crate right now.](https://github.com/BurntSushi/ripgrep/issues/1394#issuecomment-586633779). So, do we want to introduce a hidden bool flag to `[sites]` in `wrangler.toml` that t

[2020-08-25 21:36] chris-erickson commented on #980
That would be a sad outcome 😔.  We could make use of uploading invisibles to remove a bunch of really dumb hacks.

[2020-08-25 23:02] exvuma commented on #980
Why not an explicit opt-in/opt-out field rather than toggling a boolean for all hidden directories? I'd like one sensical default behavior for what gets uploaded with the ability to opt in or out by directory pattern or file (e.g. `include: [.well-known/*, .my-speicla-file]`

[2020-08-26 12:02] Lagicrus opened #1530 "Update the "Updating the cli" link"
### 🐛 Bug Report

#### Environment

* operating system: Windows 10
* output of `node -v`: 12.14.1
* output of `wrangler -V`: 1.10.3

#### Steps to reproduce

Click on [https://workers.cloudflare.com/docs/quickstart/updating-the-cli/](https://workers.cloudflare.com/docs/quickstart/updating-the-cli/) from the documentation, get a 404 page, and then a blank page.

#### What did you expect to see?

A

[2020-08-26 12:04] Lagicrus commented on #1530
Closing in favour of https://github.com/cloudflare/wrangler/pull/1526

[2020-08-26 12:04] #1530 closed

[2020-08-26 12:07] Lagicrus opened #1531 "OS Error -2146893048"
### 🐛 Bug Report

#### Environment

* operating system: Windows 10 20197.rs_prerelease.200818-1420
* output of `node -v`: 12.14.1
* output of `wrangler -V`: 1.10.3

#### Steps to reproduce

Run `npm run build` which completes as expected
Then `wrangler publish`
Spits out error

#### What did you expect to see?

A published wrangler

#### What did you see instead?

Error:  Error: error sending requ

[2020-08-26 14:36] nataliescottdavidson commented on #1464
Hey @orium - I'm not able to reproduce this as is. Could you include your `Cargo.toml` for the minified example?

[2020-08-26 14:46] orium commented on #1464
I think I don't have it anymore, but IIRC it only had a dependency on `reqwest` and nothing else.  It is normal for some systems not to be able to reproduce this very easily.  It's a non-deterministic race condition based on thread scheduling and timing.

In any case the issue is fixed upstream (https://github.com/sfackler/rust-openssl/issues/1293) and once we get a new release of rust-openssl (wh

[2020-08-27 10:01] JakubKoralewski commented on #1510
This is now happening every minute. I have now observed my WiFi icon flicker into *no internet connection* icon in my Windows Taskbar right as the error happened. Adding some e2e tests with unstable internet connection would be a great first step in diagnosing the problem.

[2020-08-27 16:32] dgitq commented on #1521
Is anyone @Cloudflare reading the issues anymore, now that EverlastingBugstopper has left?

[2020-08-27 16:46] davidtsong opened #1533 "Update links to the documentation"
Links to the Docs should be updated especially the ones linking to quickstart and installing/updating. For example in the CLI tool itself and in the README

![91367144-b3dde180-e7d3-11ea-9865-f3c493999be1](https://user-images.githubusercontent.com/7200438/91470597-c09d1c80-e849-11ea-95a9-18ba457d7c96.png)

![](https://user-images.githubusercontent.com/7200438/91366892-d8c55b00-e7b9-11ea-8104-19aae

[2020-08-27 17:03] rita3ko commented on #1521
hey @dgitq — we still read and triage the issues, but haven't had as much bandwidth to look into them. from a quick glance this does seem like a CORS issue, though the CRA docs say the "proxy" feature is intended specifically to avoid them, so would need to spend some looking into it.

[2020-08-27 17:51] dgitq commented on #1521
Good to hear @rita3ko, that you are still reading the issues that is. :) Yes it's definitely a CORS issue, thats why the proxy feature exists so that we don't have to explicitly deal with CORS in a dev environment since this will not occur in production if everything is served from the same host and port.

[2020-08-27 18:15] newtack opened #1534 "Missing architecture doc for wrangler dev"
I really need to have some sort of diagram (ideally sequence diagram) to actually understand what is going with wrangler dev.

For example, can I not just call the Cloudflare worker locally (via localhost:port), but can I also call a local service (localhost:otherport) from within the Cloudflare worker script?

It'd be great to get a specific answer to this question as well as a general architectu

[2020-08-28 11:22] dtruffaut commented on #1089
esbuild proven to me to be the only builder up-to-date on the latest ES2020 / ESNext features such ??= and consors (primary objective), while still achieving decent build times (secondary objective).

See also:

**Rollup and Terser not able to catch ES2020**
(So I switched to esbuild, as part of my custom build process - doing lots of optimizations aside, like custom importMaps)
https://github.com

[2020-08-28 11:57] dgitq commented on #1521
Just realised that "CORS issue" might be a tad ambiguous. The "proxy" feature is used to avoid having CORS issues when developing. And if I add explicit CORS handling in the code I can develop locally. I am guessing that here is something in your backend preventing the proxy feature from connecting.

Here is another thread of others having the same issue and needing to bypass this by explicitly ha

[2020-08-28 15:25] ericpauley opened #1537 "[dev] log CPU Time consumed by request"
### 💡 Feature request

#### Overview and problem statement

When developing CPU-intensive apps, one currently has to wait until CPU time statistics show up in the dashboard to understand how long their worker is taking. Logging the CPU time used by each request when using `wrangler dev` would make it much easier to debug performance issues.

#### Basic example

Possible log output:

    [2020-08-2

[2020-08-28 22:38] erickskrauch commented on #820
Bump.

[2020-08-30 23:04] #1259 closed

[2020-08-31 08:30] autarc commented on #1425
The issue is resolved with the recent change of using the latest edge workers.

[2020-08-31 08:30] #1425 closed

[2020-08-31 16:04] #1375 closed

[2020-09-01 11:00] JamesHenry commented on #1102
This should remain open please.

@ashleymichal - is there a way I can avoid this now being my job to keep this open? 😅

This seems to have been acknowledged by the team as something that could be improved and will be addressed?

[2020-09-02 05:43] Erk- commented on #1402
This issue should probably not be marked as stale as the issue have not been fixed as far as I know.

[2020-09-02 06:13] osdiab opened #1540 "An option to not clear old static files from being served"
### 💡 Feature request

#### Overview and problem statement

Our company is switching to hosting our site via a `create-react-app` project with code splitting. When a user navigates to a new page they may request a new chunk of the bundle. However, if we do a deploy, and one of these users is still on the old version of the frontend app, they request a bundle that doesn't exist, it 404's and the si

[2020-09-02 09:11] osdiab commented on #980
Just wanted to chime in that my company is also trying to use Cloudflare Worker Sites because it was marketed as a static site hosting service, but issues like this make it hard for me to continue advocating for it... Our bundle doesn't currently have anything sensitive so I'll do combination of the above hacks for now - but this is pretty rough.

[2020-09-02 12:22] ispivey commented on #1540
@osdiab thanks for the report! We're aware and working through solutions right now – hope to have some updates to share soon.

[2020-09-02 17:36] tillkruss opened #1541 "Console logging with wrangler dev"
How can I see `console.log()` output when using `wrangler dev`?

When using `--preview` it would show up in the console.

[2020-09-03 02:35] alsotang opened #1542 "When `wrangler dev` throws an error, it would memory leak after been killed"
### 🐛 Bug Report

#### Environment

* operating system: macos 10.15.6 (19G2021)
* output of `rustc -V`:
* output of `node -v`: v14.8.0
* output of `wrangler -V`: 1.11.0
* contents of `wrangler.toml`

[code]

#### Steps to reproduce

1. Run `wrangler dev` in my worker project
2. Change some files and rust would throw some error said like `senderror`. Files watch would not work.
3. Then I `ctrl+c` t

[2020-09-03 16:42] jamesarosen commented on #820
Our use-case: we have a monorepo containing a number of different workers plus packages with shared worker code:
[code]
We use a yarn workspace and `yarn install` to install the dependencies. (`pnpm` would work just as well for our case.)

We can't use [this suggestion](https://github.com/cloudflare/wrangler/issues/778#issuecomment-541193202) to include an empty `package.json` in the worker direct

[2020-09-04 02:10] kentonv opened #1544 "Wrangler Login should print the URL to the console in addition to opening it"
`wrangler login` opens a browser window to the Cloudflare dashboard in order to generate a token.

Some folks, like me, have multiple browser profiles. Opening a browser using the default mechanism doesn't necessarily use the correct profile.

Unfortunately, the URL that `wrangler login` opens seems to immediately redirect to something else, such that if I copy/paste the URL out of the address bar

[2020-09-04 02:26] kentonv commented on #1544
So I ended up replacing `xdg-open` on my system with this shell script:

[code]

TBH I should have done this a LONG time ago! This is just all-around better for me across a lot of programs. Heh.

So I don't need this change anymore but I still think it would be a good idea for others. Most other terminal programs that open browser windows print the URL in my experience.

[2020-09-04 16:45] TehShrike opened #1545 "Confusing/incorrect documentation for `--host` CLI argument"
### 🐛 Bug Report

This sentence doesn't make sense to me: https://github.com/cloudflare/wrangler/blob/7798fb04242fc58e8e58c98087bd40b04a126134/src/main.rs#L514

What is that `or` supposed to be?

This is important to me because I feel like I don't have a good mental model for when `wrangler dev` calls my local code versus proxies request straight through to the production workers deployed to the s

[2020-09-04 17:41] TehShrike opened #1546 "`wrangler dev` in 11.0 is non-functional when there are deployed workers with non-specific routes"
### 🐛 Bug Report

I have a worker deployed with a very broad/non-specific route, `*example.com/*`.  It handles some generic redirect behavior.

I have other workers with more specific routes, e.g. `https://subdomain.example.com/path/*`.

This works fine, thanks to Cloudflare Workers' [route matching behavior](https://developers.cloudflare.com/workers/platform/routes#matching-behavior) where the mo

[2020-09-04 19:18] #1541 closed

[2020-09-04 21:44] lfender6445 commented on #1046
did you mean to say that  `worker/script.js` is not an artifact of webpack?

i am wondering in the meantime is it possible to configure webpack config so that output of both files go to single directory, eg `dist`

[2020-09-05 07:44] #1041 closed

[2020-09-05 07:44] #627 closed

[2020-09-05 07:44] #1142 closed

[2020-09-05 08:51] yet-another-dev commented on #1529
I'm unable to use the latest version of Dev with subdomains (e.g. api.myworkersite.com). I'm not 100% sure, but I think this issue is the reason (calls to the subdomain are logged as calls to my root domain and return `301` redirects).

My project is using Workers for the static site (e.g. myworkerssite.com) and my site's API (e.g. api.myworkersite.com). Having Dev support subdomains is critical.

[2020-09-05 13:11] daviddean99 opened #1547 "Three bugs with CFDUID cookies in wrangler dev mode"
I think I’ve found three bugs with CFDUID cookies in wrangler dev mode:

(1) There are two “set-cookie” headers for __CFDUID sent with differing values for each request; I would expect just one “set-cookie” header per request;

(2) The __CFDUID cookies uses the domain of the worker, but in wrangler dev mode requests are served by 127.0.0.1. This causes the browser to reject the cookies as the doma

[2020-09-06 09:59] lisotton commented on #337
I still think that this ticket is very important!

[2020-09-07 15:51] TehShrike commented on #1529
I, also, need to be able to test workers locally on custom subdomains.

[2020-09-07 21:15] cdloh opened #1548 "wrangler dev or preview results in endless builds / file changes detection"
### 🐛 Bug Report

#### Environment

* operating system:
* output of `rustc -V`: not installed
* output of `node -v`: v10.16.2
* output of `wrangler -V`: 1.11.0
* contents of `wrangler.toml`

[code]

#### Steps to reproduce

Running either wrangler preview with watch or wrangler dev results in an endless loop of build attempts

#### What did you expect to see?

It to build it once and only and then

[2020-09-07 21:44] cdloh commented on #1548
Just realised that wrangler just uses the webpack watch under the hood for webpack projects and I can reproduce it with plain webpack. So I'll figure out what files need blacklisting within webpack and continue from there.

Closing this.

[2020-09-07 22:10] cdloh commented on #1548
Actually going to reopen. I've managed to get plain webpack running in watch mode without constantly looping but the moment I bring wrangler back in the mix I get constant loops.

[2020-09-08 17:41] kcantrel opened #1549 "NaCl helper process running without a sandbox!"
### 🐛 Bug Report

#### Environment
* operating system: Ubuntu 20.04.1
* output of `rustc -V`: Command 'rustc' not found,
* output of `node -v`: v10.19.0
* output of `wrangler -V`: wrangler 1.11.0
* contents of `wrangler.toml`

name = "cache_in_kv"
type = "javascript"
account_id = "553a8af51bbbbf2bec5832e148064499"
workers_dev = false
route = "*api.lonestar.org/api/pricecheck/*"
zone_id = "21d8970f

[2020-09-08 20:34] kentonv commented on #1549
Hi @kcantrel,

This message is printed by Chrome. I see it whenever I run Chrome from the command line on Linux:

[code]

So this isn't really a Wrangler issue. Arguably Wrangler could redirect Chrome's output to `/dev/null`, though that might hide real errors. Not sure what's the best answer here.

I suspect this has to do with passing the `-i` flag to sudo. That tells sudo that you not only want

[2020-09-09 00:09] kcantrel commented on #1549
HI @kentonv,

Thanks for the info. Any idea why the earlier version of wrangler (1.10) did not cause this error message to appear? Also, do you know that I can safely ignore this "error"? It does appear as though the "preview" still works as expected.

Thanks!

[2020-09-09 16:08] xortive opened #1550 "RFC: Durable Objects support"
I propose a new per-environment, non-inherited key in wrangler.toml, called `actors-beta`.
This key will be a table with two properties. Actor namespaces have an `id`, similar to the id of a KV namespace.

- `uses`: array of tables
  - `binding` - same meaning as kv_namespaces
    - Then the names XOR ids this binding uses
    - fields for the name variant
      - `name` - name of the actors names

[2020-09-10 04:08] AngusMorton opened #1553 "Option to continue serving old resources"
Currently, it seems like when you deploy a Worker Site, if users are still on the 'previous version' and they request a resource they may not get it. For example, `UserScreen.abcd.js` becomes `UserScreen.efgh.js`, in a release, users who haven't loaded the new index.html will continue to reference the old JS files and so might request them after the new version has been released.

When deploying a

[2020-09-10 19:33] dmitryyankowski opened #1554 "Wrangler dev panic"
### 🐛 Bug Report

#### Environment

* operating system: **Windows 10**
* output of `rustc -V`: **(Not avilable on Windows 10)**
* output of `node -v`: **v14.7.0**
* output of `wrangler -V`: **wrangler 1.11.0**
* contents of `wrangler.toml`

[code]

#### Steps to reproduce

1) Run `wrangler dev`

#### What did you expect to see?

No panic error.

#### What did you see instead?
[code]

[2020-09-11 04:04] bpofficial commented on #1286
Could we simply set an environment variable? then that pretty much changes
[code]
to
[code]
or
[code]
to install in the root of the project.

Which would allow pretty much all CI/CD's to have an env var set that allows us to manage the whereabouts of wrangler's binary.

[2020-09-11 15:18] ashleymichal commented on #1259
hopefully #867 will correct this.

[2020-09-11 17:39] ashleymichal commented on #1553
off the cuff, i'd say this requires that kv-asset-handler falls back to just requesting things by path if they are not in the asset manifest; that said we'd need some way to key old things in kv  to the path. i think we can use kv expiration ttls to keep things from sticking around longer than desired.

[2020-09-11 17:56] dgitq commented on #1510
Yea I have this very often as well. Did not happen as much with old wrangler version: v1.10.x

[2020-09-11 17:57] dgitq commented on #1521
Any updates?

[2020-09-11 18:01] ashleymichal commented on #771
hey @shalzz !

sorry for the dead air. if i understand correctly, the ask is for a more flexible approach which would support both a rust wasm module _and_ typescript in the worker. I think that's a great goal; we don't have cycles in the near term for this, however I do want to keep it on the roadmap.

[2020-09-11 18:07] ashleymichal commented on #1415
i keep seeing this one and without spelunking in the api code it's hard to know what triggers this error code; probably best that a CF contributor does so and amends the error message to give the user better insight.

[2020-09-11 18:17] ashleymichal commented on #1102
it is indeed; it also needs some attention alongside the [other wrangler build issues](https://github.com/cloudflare/wrangler/milestone/35). i think a `wrangler publish --skip-build` flag could be a good approach to solving the immediate problem; I think it would also benefit from a top-level `build_dir` setting in wrangler.toml that defaults to the existing build_dir settings.

[2020-09-11 18:21] ashleymichal commented on #1545
this is a typo for sure! will queue it up as an easy fix

[2020-09-11 19:36] shalzz commented on #771
Wow! Thank you. I'm honored.

[2020-09-11 23:06] balupton commented on #866
Issue is not solved.

[2020-09-13 22:36] jayphelps opened #1557 "Custom build commands as part of wrangler dev"
### 💡 Feature request

#### Overview and problem statement

I did some digging and it appears right now using `wrangler dev` with wrangler.toml of `type = "javascript"` is a bit awkward at the moment because if you are using some other build process (e.g. rollup) it won't be run as part of it, nor after the watcher notices any changes.

It's unclear what the ideal solution would be since it would

[2020-09-14 18:00] ashleymichal opened #1558 "wranglerjs is too rigid in what version of webpack it uses to build projects"
from @1000hz : the parser webpack 4 uses (acorn) doesn't support optional chaining / nullish coalescing operators. wranglerjs uses its own version of webpack (4.x). TypeScript target `ES2020`/`ESNext` doesn't transpile these operators
webpack 5 (which has been in beta forever) uses a newer version of acorn with support for these operators
but there's no way to override what version of webpack wran

[2020-09-14 18:13] 1000hz commented on #1558
I think the long-term solution to this problem is to have wrangler defer building to project scripts, i.e.
if there's a package.json file
[code]
or if there's a cargo.toml file
[code]
and only fallback to using a bundled version of webpack if none of these exist.

[2020-09-15 18:25] mroderick commented on #945
I think stale bot might have been a bit too keen to close this issue. I would still very much like to have source maps for my worker scripts

[2020-09-16 06:34] AngusMorton commented on #1553
Would it be possible to merge the old and new asset manifests? That way kv-asset-handler behaviour remains the same except that it might request a resource that has expired so it would 404 at that point (I imagine?).

Would you consider an RFC for this? and if the RFC is approved an implementation?

[2020-09-17 18:43] TifMoe opened #1560 "Attempt to get key with leading slash returns "not found" error from wrangler"
### 🐛 Bug Report

#### Environment

* operating system: **MacOS**
* output of `rustc -V`: **rustc 1.45.1 (c367798cf 2020-07-26)**
* output of `node -v`: **v12.10.0**
* output of `wrangler -V`: **👷 ✨  wrangler 1.11.0**
* contents of `wrangler.toml`
[code]

#### Steps to reproduce
I was trying to get a value from our kv cache using Wrangler but my key has a leading slash:
1) Validate that I can see

[2020-09-17 23:49] Disgruntled commented on #337
Leaving my support for this, I would love to have an official wrangler docker image available. I'd really like to use this for a gitlab runner.

[2020-09-18 06:08] oliverpool commented on #337
Or if the cloudflare team is not willing to provide support to this, at least inform that there is a community-project providing a docker image (https://github.com/avatarnewyork/wrangler)

[2020-09-18 11:00] simplenotezy commented on #1540
Sounds good @ispivey

[2020-09-18 16:08] Electroid commented on #331
@xortive Would `wrangler login` make this outdated?

[2020-09-18 16:11] rita3ko commented on #331
@Electroid i actually think we can make this better with `wrangler login`. once you're logged in, when you `wrangler init` or `wrangler generate` a project we could let you pick an account and then zone interactively and prefill it for you in `wrangler.toml`

[2020-09-18 16:13] Electroid commented on #337
In the meantime: for those who want to deploy with Github Actions, there is [`cloudflare/wrangler-action`](https://github.com/cloudflare/wrangler-action).

[2020-09-18 16:18] ashleymichal commented on #866
@balupton we did ship some multiroute support a few versions ago, however not every feature listed here was included, just the ability to deploy to many routes on the same zone. which version of wrangler are you currently running, and is there a specific feature that you are missing to do what you want with it?

[2020-09-18 16:23] #1200 closed

[2020-09-18 16:37] yerol commented on #1338
I'm having this exact problem.

The same project/code, builds and packages to 206KB with wrangler 1.6, but jumps to 377KB when I upgrade wrangler to 1.11. This is the same on windows and mac. This jump in size is unacceptable for a platform like this.

I'll be sticking with old versions of wrangler until this issues is sorted out.

Attached screenshot:
<img width="523" alt="Screenshot_1" src="http

[2020-09-18 17:14] ispivey commented on #980
Next step: we'll evaluate just doing this ourselves natively without a dependency on another crate, since our use case is rather narrow.

[2020-09-18 18:40] ashleymichal commented on #1235
closing as duplicate of #1283

[2020-09-18 18:40] #1235 closed

[2020-09-18 19:02] ashleymichal commented on #1553
@AngusMorton i would love an RFC for this; one constraint to keep in mind is that the asset manifest size is part of the 1MB total size limit on the worker bundle; i've alternatively toyed around with an idea for storing a massive merged asset manifest in kv as a "backup". would love any ideas you have!

[2020-09-18 19:05] ashleymichal commented on #1540
this is a duplicate of #1553

[2020-09-18 19:05] #1540 closed

[2020-09-18 19:32] #1560 closed

[2020-09-18 21:26] captain-kark opened #1563 "Reduce scope of "wrangler tail" api token permissions"
### 💡 Feature request

#### Overview and problem statement

Reading logs with `wrangler tail` requires write access to workers scripts.

[code]

I would like to be able to freely distribute api tokens granting developer access to logs without also giving them write access to those same workers. If wrangler were to apply [a well-known "default script" under a separate permission](https://github.com

[2020-09-19 00:23] caass commented on #1546
I think this is related to an issue I'm getting, so I'll comment here to avoid opening a duplicate issue.

Steps to reproduce:

1. Create a new wrangler project with `wrangler generate example https://github.com/cloudflare/worker-template`
2. `cd` in and observe that `wrangler dev` works
3. Add a route to `wrangler.toml` that includes a wildcard (e.g. `route = somesite.com/*`)
4. try `wrangler dev

[2020-09-19 02:57] gstotts commented on #803
@rochapablo You fixed my issue after a few hours of getting frustrated.  Thanks!

[2020-09-19 23:48] TehShrike commented on #1546
@caass for thoroughnesses sake, what is your expected behavior after step 4, and what are you seeing instead of that?

[2020-09-20 01:02] caass commented on #1546
I edited my comment to put the expected behavior, as well as what actually happens :)

[2020-09-20 06:28] RobinCodeX commented on #1504
I found the error throw in https://github.com/cloudflare/wrangler/blob/e32fc6c13c46bc8b92bc22a2bcbe58bdceb72133/src/install/mod.rs#L129-L130

I checked the cache folder and it was successfully downloaded and unzipped.
![image](https://user-images.githubusercontent.com/8408783/93704954-8cb4ce80-fb4b-11ea-9cd3-d118b2f60dcd.png)
![image](https://user-images.githubusercontent.com/8408783/93704948-7eff

[2020-09-20 16:42] simplenotezy opened #1565 "Running `wrangler publish` does not publish anything"
#### Environment

* operating system:
* output of `rustc -V`: rustc 1.43.0
* output of `node -v`: v10.20.1
* output of `wrangler -V`: 👷 ✨  wrangler 1.11.0

#### Wrangler.toml

	name = "my-site-default"
	type = "webpack"
	account_id = "some_id"
	workers_dev = false
	route = "somedomain.com/*"
	zone_id = "some_zone"
	kv-namespaces = [
		{ binding = "REDIRECTS", id = "some_id", preview_id = "some_id"

[2020-09-20 18:19] simplenotezy commented on #1565
Not sure how this bug actually happend.

I notice that inside my /build/ folder there is no `worker.js` file as there is in `/dist/` (dist was usually my go to, but I have just changed to `/build/` and changed `bucket` to `build`).

Maybe it is related to changing the `bucket` configuration in wrangler?

[2020-09-20 18:31] simplenotezy commented on #1565
Upon debugging further, I wanted to test to clear the whole KV namespace and then rerun wrangler publish. So I deleted the namespace, and ran wrangler publish again. It then said: `🌀  Created namespace for Workers Site "__jwr-nuxt-beta-workers_sites_assets"` and I see the namespace in the dashboard. However, nothing happens after that. Rerunning it again it says `🌀  Using namespace for Workers Sit

[2020-09-20 18:38] simplenotezy commented on #1565
Maybe related? https://community.cloudflare.com/t/wrangler-claims-to-successfully-publish-but-doesnt-actually-update-workers/128316/4

[2020-09-20 18:43] simplenotezy commented on #1565
Hoping it could help to rename the KV name (name = "something-unique"), but it didn't

[2020-09-20 20:44] simplenotezy commented on #1565
I tried running with `--verbose`, but it seems as though that argument has been removed. It's funny, because the publish command use to output, e.g. "Routes stayed the same", but it sems to never get that far, and instead halt at `🌀  Using namespace for Workers Site "__jwr-nuxt-beta-workers_sites_assets"`

[2020-09-21 18:48] simplenotezy commented on #1565
Sorry, I don't want to stress this / you @ispivey, but I am eager to find a solution so I can continue deploying with my otherwise beloved Wrangler <3

Any temporary solutions / workarounds I can try would be greatly appreciated.

[2020-09-21 18:52] oliverpool opened #1567 "Bug: Inconsistency for configuration inheritance"
### 🐛 Bug Report

I want to deploy a specific folder for my site depending on the environment using wrangler **1.11.0**:
[code]
However this configuration is ignored and the top-level site is always deployed.

-----

According to the [documentation](https://developers.cloudflare.com/workers/cli-wrangler/configuration#keys), the `site` key is  `not herited` (which is different from `Top level only`

[2020-09-22 19:39] simplenotezy commented on #1565
This is how it looks:
![wrangler publish failing](https://user-images.githubusercontent.com/3786627/93929364-0a2f3900-fd1c-11ea-917a-2ac04af2b6f9.gif)

[2020-09-22 22:41] simplenotezy commented on #1565
Ok, so I have just tested locally, and there it works fine. It's only on our deployment server it silently fails.

[2020-09-23 01:22] caass commented on #1558
Supporting arbitrary scripts seems like a really good idea actually, and would allow people to choose their own JS bundling tools (e.g. rollup, etc). If nobody else is working on this i'm going to poke around and see if it's something that's within the scope of my rust knowledge to work on. No promises!!

[2020-09-23 06:49] simplenotezy commented on #1565
I have tried uninstalling wrangler completely, then re-install, but that did not help either

[2020-09-23 07:38] simplenotezy commented on #1565
Not sure what went wrong, but I decided to start from scratch:

1) Created new user
2) Installed nvm as is the recommended way to use wrangler
3) Installed everything
4) Ran wrangler publish
5) Everything works fine.

Still curious what went wrong though.

[2020-09-23 09:09] zhb124404 commented on #1504
I've met the issue,too
![image](https://user-images.githubusercontent.com/16805041/93991926-7a42cb00-fdbf-11ea-9f4a-3d869aef34f2.png)

[2020-09-24 07:26] zhb124404 commented on #1504
I find a way to resolve it temporarily.
Just rename the '.cargo-generate-0.5.0' to 'cargo-generate-0.5.0'
![image](https://user-images.githubusercontent.com/16805041/94113895-28ab4680-fe7a-11ea-9439-8e95212b0bab.png)

and then wrangler works.
![image](https://user-images.githubusercontent.com/16805041/94114003-52646d80-fe7a-11ea-8c28-7380dd289f6c.png)

[2020-09-24 10:57] yerol commented on #1338
I think I've found the underlying problem. It's dependency duplication. In the bundled worker.js file, I have the same package (bn.js) included 8 times! It is highly likely that there are other packages duplicated as well. See below references:

/***/ "../../../../AppData/Local/.wrangler/wranglerjs-1.11.0/node_modules/asn1.js/node_modules/bn.js/lib/bn.js":
/***/ "../../../../AppData/Local/.wrangle

[2020-09-24 19:36] PaTiToMaSteR commented on #1514
doesn't work on macOS, opens automatically Safari, token created and there is no way to get it working. even with the beta version

[2020-09-25 15:26] #1118 closed

[2020-09-25 15:30] ashleymichal commented on #704
the solution for this is #852.

[2020-09-25 15:31] ashleymichal commented on #896
what i think would actually be most effective here would be to include the gzipped asset sizes in the error message from the API, giving users an actionable message without duplicating the compression logic in wrangler. marking this as cross-team: API

[2020-09-25 16:03] #1545 closed

[2020-09-25 16:10] ashleymichal commented on #1565
i'm really glad you got this working @simplenotezy ! i'm going to close this for now, but if you end up reproducing the bug, we'll be happy to look into it 😄 !

[2020-09-25 16:10] #1565 closed

[2020-09-25 16:13] ashleymichal commented on #1567
this does seem like a relatively easy addition that wouldn't break people. i'd welcome a PR!

[2020-09-25 16:15] ashleymichal commented on #1546
note: status - needs repro indicates that we'd like a member of our team to reproduce; thank you for the detailed report!

[2020-09-26 15:24] lisonge commented on #1504
# same error

![image](https://user-images.githubusercontent.com/38517192/94344064-5dbcc200-004f-11eb-84df-d6e776a2991b.png)

[2020-09-26 16:07] yet-another-dev commented on #1529
@ashleymichal (or anyone else on the Wrangler team), is this something we might see land in the near future? It seems that v1.10.3 has stopped working for me for an unknown reason (dev compiles but always returns a 500 error), so not being able to upgrade (due to the latest lacking support for custom subdomains) has become a showstopper for me :(

Subdomains with Wrangler dev _were_ working just f

[2020-09-27 19:30] caass commented on #1091
Hello commenting to add failure has [been deprecated :)](https://github.com/rust-lang-nursery/failure/pull/347)

[2020-09-28 04:31] lisonge commented on #1504
you can generate you project on linux, then download artifact to develop on windows

the npm run-script * is available on windows

[code]

[2020-09-28 08:38] nhoughto commented on #1026
Yeah worth calling out that `wrangler dev` won't ever be a replacement for https://github.com/dollarshaveclub/cloudworker while it has a the cloud dependency, in my example the constraint of only being able to `fetch()` public interface facing URLs is a non-starter for CI/testing uses, as none of the endpoints it might hit are public!

[2020-09-28 16:08] ObsidianMinor opened #1574 "Mini RFC: Cron Triggers"
Cron triggers are out, but there isn't a way to configure them from wrangler. To support cron triggers, I propose we add a new `triggers` table with a `crons` field as an array of strings.

### Example

[code]

[code]

[2020-09-28 16:10] ObsidianMinor commented on #1574
cc: @ashleymichal

[2020-09-28 17:04] xtuc commented on #1574
Since webpack doesn't allow emitting JavaScript modules syntax yet we should probably restrict to type javascript only

[2020-09-28 17:23] ObsidianMinor commented on #1574
We still support the original `addEventListener` form so this should work without module support.

[2020-09-28 21:13] yet-another-dev commented on #1529
@TehShrike are custom subdomains working for you on v1.10.3 (the latest version before 1.11.0)?

[2020-09-29 02:02] vladinator1000 commented on #1320
When I tried it I had to wait a minute after running dev until I start seeing actual console logs.

[2020-09-29 02:13] vladinator1000 opened #1575 "Improving the Rust debugging experience"
### 💡 Feature request

I got super excited to try Workers with Rust, but the development experience could use some love. If you try to do something real, like parsing the request body for example:
[code]

If something panics, you'll see something like this:
[code]

The only way to debug this for me was to rewrite my code and match on the result and return the error as a string.

[code]
Now we get

[2020-09-29 12:05] TehShrike commented on #1529
We moved away from Wrangler for testing our worker that relies on subdomain routing.  Mostly just hoping that we don't have to touch it until after this gets fixed

[2020-09-29 15:18] cdloh commented on #1415
Also ran into this today. Some work on it would be appreciated.

[2020-09-29 16:13] evanspy1 opened #1576 "Download your Project"
### 💡 Feature request

#### Overview and problem statement

Sometimes I will not put my project on GitHub or some other version control scheme and then I need to access and work on it from another computer, so I wish there was a "wrangler download" command that would grab and download the latest version of your project and put it in a folder.

[2020-09-29 21:40] ObsidianMinor opened #1577 "Mini-RFC: 'wrangler dash'"
A real pain point I've found with using wrangler and the dash is that there isn't a clean and easy way to get from the CLI to the dash quickly. This is sometimes necessary if you want to see analytics or past events with cron triggers (or if a new feature has come out that doesn't have support in wrangler yet).

For that I propose `wrangler dash`, a command that simply navigates directly to the da

[2020-09-30 17:35] nataliescottdavidson commented on #1415
Hi @jpwilliams, could you share your `webpack.config.js`?

[2020-09-30 21:58] jpwilliams commented on #1415
@nataliescottdavidson Sure. It's in a private repo so can't link to it, but:

[code]

[2020-09-30 23:27] yet-another-dev commented on #1529
Yeah, hopefully it's fixed soon.

FWIW: I did figure out that v1.10.3 _does_ in fact still work with custom subdomains (somehow my installed version got bumped to Wrangler 1.11.0, which is why it stopped working).

[2020-10-01 02:55] GabrielDeml commented on #240
npm didn't work for me, but using yarn worked.
`yarn global add @cloudflare/wrangler`

[2020-10-01 05:59] codenoid commented on #1464
yes, reproduced with:

[code]

wait, when writing this comment, i got another error message when just executing `wrangler` command

[code]

[2020-10-01 08:09] orium commented on #1464
@codenoid I think the

[code]

is caused by the same issue, so the upstream fix in rust-openssl should fix that as well.

[2020-10-01 15:03] simonhaenisch commented on #1574
My scheduled worker doesn't need `workers_dev` but also doesn't need a `route`/`routes` because it only handles `'scheduled'` events. I currently have to leave `workers_dev = true`, otherwise I'll get "Error: No deploy target specified" when trying to publish my worker.

Thus: `triggers` should be considered a deploy target as well 🤓

[2020-10-01 16:51] ScottSmith95 commented on #1517
As a new user to Cloudflare Workers, this really threw me for a loop. It's only in this thread that I've found nvm is a requirement. I use n to manage node versions so it's a bit of a pain too.

[2020-10-01 17:06] ObsidianMinor commented on #1574
Yeah, part of this work will be making multiple target deployments possible instead of exclusively zoned or zoneless.

[2020-10-01 21:44] cdloh commented on #1415
I managed to get around this by fully deleting the worker in Cloudflare and then republishing it.

Thankfully I only hit this on a development worker and not a production one but this at least fixed it for the dev one.

Note I made no changes to webpack or the actual worker in between the delete and re-publish.

[2020-10-02 15:58] jpwilliams commented on #1415
I experienced the same thing as @cdloh above, though it took me a little while longer to try this as mine was a production worker when it began displaying this issue. Even if I update the original worker with new code I continue to see the same issue, but publishing it under a new name gave me immediate access to the logs for that newly-published worker.

This would lead me to believe that it's no

[2020-10-05 11:33] oliverpool commented on #1574
Currently the dashboard indicates

![image](https://user-images.githubusercontent.com/3864879/95074573-10a3b480-070f-11eb-91b4-f86de8d4ca8f.png)

However if I understand this issue correctly, this is not yet supported by `wrangler.toml`.

Do you have an estimate when this will be possible? (and maybe change the dashboard hint in the meantime...)

[2020-10-05 15:01] danbars opened #1583 "wrangler dev throws Error: EOF while parsing a value at line 1 column 0"
### 🐛 Bug Report

#### Environment

* operating system:
Mac Mojave 10.14.6

* output of `rustc -V`:
` command not found`

* output of `node -v`:
`v11.10.1`

* output of `wrangler -V`:
`👷 ✨  wrangler 1.11.0`

* contents of `wrangler.toml`
[code]

#### Steps to reproduce
At first everything worked great. `wrangler dev` ran the code locally as expected. After the first time that I published using `wr

[2020-10-05 15:17] razvanstatescu opened #1584 "wrangler dev Error: HTTP status client error (404 Not Found) for url"
### 🐛 Bug Report

I try to run wrangler dev but I get this error "Error: HTTP status client error (404 Not Found) for url"

In my wrangler.toml I have route set (if that help)

#### Environment

* operating system: MacOS Catalina
* output of `node -v`: 13.14.0
* output of `wrangler -V`: 1.11.0
* contents of `wrangler.toml`
name = "proxy"
type = "webpack"
account_id = ""
route = ""
zone_id = ""
web

[2020-10-05 20:12] drzraf commented on #554
Reopen.
As soon as a worker is needed on more than on domain it starts to be a problem because there is no configuration for this.

If wrangler is not the right tool to deploy routes to multiple domains, then which tool is advised?

[2020-10-06 06:06] danbars commented on #1583
EDIT: googling this error brings tons of results all related to Sentry. Is there a dependency on Sentry from wrangler?

[2020-10-06 16:49] nataliescottdavidson commented on #1584
If you don't provide a route, `workers_dev = true` must be in your `wrangler.toml`

[2020-10-06 16:50] razvanstatescu commented on #1584
@nataliescottdavidson I provided a route (I just removed it now, when I posted the config file)

[2020-10-06 16:52] nataliescottdavidson commented on #1584
Ok, if you have a route set you must have that route on Cloudflare and get the zone_id from your dash.cloudflare.com.

[2020-10-06 16:54] razvanstatescu commented on #1584
@nataliescottdavidson I have the config completed (I just removed some details from it). I also have the route on cloudflare. But when I run the dev command I get Error: HTTP status client error (404 Not Found) for url

[2020-10-07 14:05] nataliescottdavidson commented on #1584
What's your `wrangler publish` output?

[2020-10-07 14:12] nataliescottdavidson commented on #1576
Hey @evanspy1 - version control isn't part of wrangler or workers. I'd recommend using a git based version control scheme locally, and a trusted remote server on github or other provider. We are currently building around github workflows.

[2020-10-07 14:12] #1576 closed

[2020-10-08 07:40] 0xbkt opened #1587 "get-npm-wrangler-binary endpoint throwing occasional exceptions"
### 🐛 Bug Report

#### Environment

* operating system: Ubuntu 20.04

#### Steps to reproduce
Repeatedly call `curl -I -XGET https://workers.cloudflare.com/get-npm-wrangler-binary/1.10.3/x86_64-apple-darwin` in your terminal.

#### What did you expect to see?
200 OK with Wrangler binary every time I call it.

[code]

#### What did you see instead?
Occasional 500s with a generic Cloudflare response

[2020-10-08 14:04] nataliescottdavidson commented on #1563
This seems important and principle of least privilege oriented feature. I'm on it 👍

[2020-10-08 14:32] mkbctrl opened #1588 "PUT method with API Tokens is not supported by this API"
While trying to:

`wrangler secret put MY_API_TOKEN`

I am getting the following error:

[code]

How am I supposed to store API tokens if it's required to use wrangler to deploy my worker to different environment?
Is there some other way?

Storing MY_API_TOKEN as a secret in Cloudflare account does not work either. In such configuration
`wrangler publish --env staging` fails in example becase the

[2020-10-08 14:33] mkbctrl commented on #1588
Additionaly while trying to execute `wrangler secret list` I am receiving `Error: ⚠️  Code 10004: workers.api.error.malformed_param`

[2020-10-08 15:31] mkbctrl commented on #1588
Don't bother, I have misunderstood the proper usage of this command.

[2020-10-08 15:31] #1588 closed

[2020-10-08 20:17] danbars commented on #1554
I also get wrangler dev panic all the time.
It doesn't happen in production (as far as I know)
It is pretty annoying and pretty common.

[2020-10-09 17:41] nicovigil1 commented on #543
anyone happen to have any luck with a workaround for this?

[2020-10-09 18:04] Dextario opened #1590 "Wrangler Installation Issues with MacOS"
### 🐛 Bug Report

I am trying to install Cloudflare's Wrangler to my VS Code.

When I go into my VS Code and use` npm i @cloudflare/wrangler -g` all goes well with the installation.  However, when I attempt to do wrangler as a command it tells me `zsh: command not found: wrangler` . I am not sure how I can fix this. I've tried a lot of different things online and scoured Cloudflare's resources for

[2020-10-09 19:52] greg-mckeon commented on #543
Hi @nicovigil1,

Support for the native MongoDB driver is something we're still working towards.  One approach we've considered in the short term is providing a GraphQL layer in front of MongoDB - would this approach help with your use-case?

[2020-10-09 21:32] danbars commented on #1583
Can anyone please look at this? I have 2 paying accounts and blocked from working!

[2020-10-09 21:37] matthew-plusprogramming opened #1591 "Retry API requests"
### 🐛 Bug Report

#### Environment

* operating system: Windows (Ubuntu WSL 2)
* output of `rustc -V`: command not found
* output of `node -v`: v12.18.3
* output of `wrangler -V`: 👷 ✨  wrangler 1.11.0

#### Steps to reproduce

There are no steps I took to produce this error. The difference in the environment between when this was working as wasn't is my internet speed is slightly slower (still at

[2020-10-09 22:38] matthew-plusprogramming commented on #1591
Any and all troubleshooting help would be appreciated. I'm currently working on my cloudflare internship interview take-home assignment which I hopefully can finish up sooner rather than later. I'll keep posting any updates as they come

[2020-10-09 23:46] matthew-plusprogramming commented on #1591
I seem to have found the issue. I guess that it was timing out due to my network being too slow. Upon switching back to my old network with a download speed of 61.82 Mbit/s and upload speed of 20.30 Mbit/s as opposed to 30.59 Mbit/s and 15.53 Mbit/s respectively wrangler commands started working again. I still would consider this some sort of issue as in both cases I had a fairly fast internet con

[2020-10-10 00:40] protoEvangelion commented on #768
@EverlastingBugstopper this is still happening for me when running `wrangler dev`. Is there something I need to install locally?

![image](https://user-images.githubusercontent.com/20076677/95641339-86cd5180-0a56-11eb-826e-750165ff9a70.png)

[2020-10-10 00:59] EverlastingBugstopper commented on #768
Sorry, I don't work at Cloudflare anymore. Might be worth opening a new issue for it 😁

[2020-10-10 04:49] mrushyendra commented on #240
It seems like the repo's README has been updated, but not the main 'Getting Started' [webpage](https://developers.cloudflare.com/workers/learning/getting-started), which doesn't mention this issue at all.

[2020-10-10 06:33] 0xbkt commented on #1590
It seems like your `$PATH` does not include the path to globally installed Node.js executables.

See `npm help folders`.

[2020-10-10 07:54] jerryc05 opened #1593 "Error: could not download `wasm-pack` Access is denied. (os error 5)"
### 🐛 Bug Report

#### Environment

* operating system: Win 10 (not WSL)
* output of `rustc -V`: `rustc 1.49.0-nightly (3525087ad 2020-10-08)`
* output of `node -v`: `v14.13.1`
* output of `wrangler -V`: `wrangler 1.11.0`
* contents of `wrangler.toml`
[code]

#### Steps to reproduce

Run `wrangler preview --watch` in `cmd`.

#### What did you expect to see?
No err

#### What did you see instead?
[

[2020-10-11 09:50] mercteil commented on #1587
Downloading release https://workers.cloudflare.com/get-npm-wrangler-binary/1.11.0/x86_64-apple-darwin

Error fetching release Request failed with status code 500

[code]

[2020-10-11 18:48] davidbarratt commented on #1554
This seems like a duplicate of #1510?

[2020-10-11 18:48] davidbarratt commented on #1510
I'm having this problem on Linux (Ubuntu) on 1.11.0, if I downgrade to 1.10.0 it works perfectly.

[2020-10-11 21:59] jeremyschlatter commented on #1155
I just encountered this as well, and only figured out what was wrong because of this GitHub issue.

In my case, I had CF_API_KEY and CF_API_EMAIL set from another project that I had forgotten about. I logged in with `wrangler login`, and everything seemed fine until I got this message on `wrangler publish`.

The problem was resolved when I cleared those env vars. It would have been helpful for me

[2020-10-12 10:52] geelen opened #1597 "Wrangler fails with `Error: spawnSync` `ENOENT` on WSL2"
### 🐛 Bug Report

#### Environment

* operating system:

Windows WSL2 Ubuntu

`Linux Lil-Lise 4.19.104-microsoft-standard #1 SMP Wed Feb 19 06:37:35 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

* output of `rustc -V`:

`zsh: command not found: rustc`

* output of `node -v`:

`v14.3.0`

* output of `wrangler -V`:

[code]

* contents of `wrangler.toml`

N/A

#### Steps to reproduce

[code]

#### What d

[2020-10-12 10:57] geelen commented on #1597
Wow, just had the exact same issue with a fresh install on OSX:

[code]

[2020-10-12 11:12] geelen commented on #1597
FYI: installed fine on an AWS EC2 instance

[code]

So it appears to be aurora borealis at this time of year at this time of day localized entirely within my kitchen 🤷

[2020-10-12 12:27] geelen commented on #1597
I think it could be a Node version issue? I have `v14.3.0` on my WSL2 installation and `v14.8.0` on my Catalina macbook. The AWS ubuntu instance has `v12.16.1`.

For anyone else hitting this, I fixed it on both Node 14 machines by running:

[code]

On my mac, I already had Rust and Cargo, so I only needed to do:

[code]

So I think this is probably a bug in the `@cloudflare/wrangler` JS for Node 1

[2020-10-12 15:04] viktor32 commented on #1597
Have the same problem and I think the problem isn't about a Node version. I use docker and during the build process I can have the success build on one machine and error with the same Dockerfile but on a different machine

[2020-10-12 18:09] realandrewyang opened #1598 "Use regex to validate account_id or zone_id are valid hex"
### 🐛 Bug Report

#### Environment

* operating system: WSL (Linux) on Windows 10
* output of `rustc -V`:
[code]
* output of `node -v`: v14.13.1
* output of `wrangler -V`: 👷 ✨  wrangler 1.11.0
* contents of `wrangler.toml`
[code]

#### Steps to reproduce

1. Obtain global API key
2. Run `wrangler config`
Output of 2:
[code]
3. Run `wrangler publish`

#### What did you expect to see?
Successful bui

[2020-10-13 15:32] Electroid commented on #1598
I've updated this issue to reflect the problem, `wrangler` should probably validate that your `account_id` is in a valid form (and not an email)

[2020-10-13 15:42] Electroid commented on #1591
Sometimes there are network errors, it seems though, that `wrangler` is not currently retrying. It probably should, so updated this issue to reflect that.

[2020-10-13 15:45] #1590 closed

[2020-10-13 15:45] Electroid commented on #1590
(You can follow that issue thread, we're working on a fix!)

[2020-10-13 15:55] nataliescottdavidson commented on #1514
Reproduced this, unintentionally. `wrangler login` was working for me before. Now, a token is created but my terminal hangs `⠤   Waiting for API token...`. Going to investigate further.

[2020-10-13 17:19] rfilmyer opened #1601 "cargo install wrangler fails on Windows 10 when building openssl-sys"
### 🐛 Bug Report

When attempting to install `wrangler` via `cargo`, the build fails trying to install `openssl-sys` with the error:

    error: failed to run custom build command for `openssl-sys v0.9.58`

This is after attempting several tricks recommended for this issue, including:

* Building, [`vcpkg`](https://github.com/microsoft/vcpkg), installing `openssl-windows:x64-windows` and `openssl:

[2020-10-13 17:27] Swatilekha-Roy commented on #662
@EverlastingBugstopper I have tried everything on the link above that you have mentioned but the error still persists. Could you kindly help out?

[2020-10-14 01:41] Phara0h opened #1602 "Linux (wrangler publish) slows to a halt when 38000+ html files in their own folder."
### 🐛 Bug Repor

#### Environment

* operating system:ubuntu 20.04lts
* output of `rustc -V`: none
* output of `node -v`: v14.5.0
* output of `wrangler -V`:  1.11.0
* contents of `wrangler.toml`
[code]
[site]
bucket = "./public"

#### Steps to reproduce

1. generate 38000+ html files that live in their own folder under public.
2. spin up a linux instance ubuntu 20.04 (used t3a and a t5a simular re

[2020-10-14 06:09] Swatilekha-Roy commented on #662
Thanks a lot!!

On Tue, 13 Oct 2020, 22:59 Avery Harnish, <notifications@github.com> wrote:

[2020-10-14 15:05] samuelcolvin opened #1604 "URGENT install broken with 500 error downloading binary"
I'm trying to install wrangler on macos with `npm install -g @cloudflare/wrangler` and getting an error:

[code]

When I go to https://workers.cloudflare.com/get-npm-wrangler-binary/1.11.0/x86_64-apple-darwin I get an intermittent 500 error.

[2020-10-14 15:11] rita3ko commented on #1604
Hi @samuelcolvin! Thanks for reporting this. Going to close it as a duplicate of #1587 which @nataliescottdavidson is currently looking into.

[2020-10-14 15:11] #1604 closed

[2020-10-14 15:53] joepio commented on #1377
Since the `needs design` tag is here, perhaps these can offer inspiration for Key/Value store API design:

- [sled](https://docs.rs/sled/0.34.4/sled/), a powerful embedded Key/Value store that mimics `BTreeMap<[u8], [u8]>`.
- [kv](https://docs.rs/kv/0.22.0/kv/) - powered by sled, but easier to use.
- [cask](https://docs.rs/cask/0.7.1/cask/) - another K/V store

[2020-10-14 16:27] emesterhazy commented on #1546
Thanks for posting this @TehShrike - I have the same issue as you. I can't test workers that match on subdomains with dev because all requests to localhost are forwarded to the production server for the bare domain.

[2020-10-14 18:21] nataliescottdavidson commented on #1563
I have created a token role which only has read privileges. I was able to run `wrangler tail` and log responses using this new token. Let me know if you have issues with this.

[2020-10-14 18:21] #1563 closed

[2020-10-14 18:44] Electroid commented on #1602
Same issue as #1511, we should find a way to speed up KV uploads.

[2020-10-14 18:44] #1602 closed

[2020-10-14 22:01] dkcpa68 opened #1605 "pull request"
https://github.com/dkcpa68/workers-docs-engine

[2020-10-15 17:33] Electroid commented on #1605
This seems like an accidental issue, so going to close.

[2020-10-15 17:33] #1605 closed

[2020-10-15 17:55] robinsloan commented on #1587
I don't know if it's helpful to mention that I am also experiencing this error; feel free to delete this comment if it's just noisy/duplicative. But I wanted to say that it might make sense to add a temporary note to the [installation guide](https://developers.cloudflare.com/workers/cli-wrangler/install-update) explaining that the `npm` method isn't working on macOS until the problem is resolved;

[2020-10-15 18:03] ispivey commented on #1587
This should be resolved as of a few minutes ago, when we deployed a (putative) fix. @robinsloan can you try again? If you're still seeing errors, please re-open this issue and share the error message you see!

[2020-10-15 18:03] #1587 closed

[2020-10-15 18:07] ispivey commented on #1597
@geelen @viktor32 you should no longer encounter these errors when installing via npm, with the resolution of #1587. Please give it a try again at your convenience and let us know if this recurs!

@Electroid would you mind opening a new issue for more-gracefully handling errors fetching binaries? It's a great idea – but if we re-use this issue, the next person to come across it will be quite confu

[2020-10-15 18:07] #1597 closed

[2020-10-15 18:08] robinsloan commented on #1587
Success! I feel honored to know I might have been the last person in the universe to experience this error. Thanks!

[2020-10-15 18:58] realandrewyang commented on #1598
Thanks for the support, I've used the correct `account_id` now

[2020-10-15 18:58] #1598 closed

[2020-10-16 05:53] Swatilekha-Roy commented on #1587
When I try to preview my project using **wrangler preview --watch** or **wrangler preview**, I keep getting this message:
"Error: Your JavaScript project is missing a `package.json` file; is `/home/swatilekha/hello` the wrong directory?"
Could someone kindly help me out on that? Thanks.

[2020-10-16 07:34] IlariExove opened #1608 "As a Workers Sites user I'd like to upload PDF files larger than 10 MB"
### 💡 Feature request

#### Overview and problem statement

Working with Workers Sites with a Bundled plan allows me to publish static web sites using Wrangler tool. One problem I've encountered with Workers Sites is that it doesn't support objects larger than 10 MB in the KV storage. Uploading PDF files larger than 10 MB fails with an error from Wrangler. If it's technically possible to implement

[2020-10-16 11:43] rslonik commented on #1129
`wrangler 1.11.0` here with the same issue.

[2020-10-16 11:49] rslonik commented on #1418
I am having this issue with `wrangler 1.11.0` and a newly created worker

[2020-10-16 12:37] rslonik commented on #1418
@EverlastingBugstopper A workaround is not calling your SECRET before it is defined with wrangler. If you remove it from your script, then create it with `wrangler secret put` and then put back into your script, it should work.

[2020-10-16 13:34] ispivey commented on #1587
@Swatilekha-Roy can you open a new issue about your problem? The new issue template asks a number of clarifying questions that will help ensure you. get an answer.

[2020-10-16 18:58] jayphelps commented on #1514
@nataliescottdavidson's solution of deleting the old wrangler token worked for me.

[2020-10-17 13:09] okansahin commented on #1514
Deleting the old tokens is not worked for me as @nataliescottdavidson's said.

Instead this I created token manually using "Edit Cloudflare Workers" template. And then it successfully logged in with

`wrangler config`

[2020-10-17 21:11] georgelzh commented on #240
sudo wrangler after installation

[2020-10-18 02:31] DasCodes commented on #1514
Same. It just hang on `Waiting for API token...` after the token is created. Manually creating a token then using it on `wrangler config` worked. Thanks 👍 !

[2020-10-19 02:42] khangly commented on #240
I got the exact issue, but after I updated `npm` it worked.

[2020-10-19 07:54] viktor32 commented on #1597
@ispivey seems that everything is ok now. Thank you, guys!

[2020-10-19 15:13] jbeeko commented on #1490
@koeninger Bit of a pushy ask here and feel free to ignore it. The FSharp community will be hosting another Applied F# Challenge. I'd like to do something with Durable Objects but have not heard back on my Beta application. Do you know who I can follow up with?

[2020-10-19 19:11] solbloch commented on #1583
Same problem. One workaround, I've found, is using `sudo` for the `wrangler dev` as it seems to work if the account that wrangler is coming from isn't logged in. If you run `sudo wrangler login` or `sudo wrangler config` and login with `root`, as wrangler tells you to, it breaks.

[2020-10-19 19:20] initplatform commented on #866
I am wondering how to exclude certain routes in the wrangler.toml.

Given the example here in the docs to exclude cat.png -> https://developers.cloudflare.com/workers/platform/routes#matching-behavior

[code]
Doesn't appear as though this is supported in the wrangler.toml

[2020-10-19 22:45] bjesus commented on #1434
has there been any progress on this? we are currently completely unable to `tail` any of our production workers. Wrangler just shouts `Error: ⚠️  Code 10057: workers.api.error.too_much_traffic_for_live_tailing
🕵️  See documentation`. As much as the emojis are nice, which documentation exactly?

[2020-10-20 00:00] #1483 closed

[2020-10-20 14:09] nataliescottdavidson commented on #1514
Wrangler login now rolls the existing token instead of creating a new one. You may need to delete the old tokens which have accumulated.

[2020-10-20 14:09] #1514 closed

[2020-10-20 15:06] nataliescottdavidson commented on #1521
Closing as duplicate, update on #1262

[2020-10-20 15:06] #1521 closed

[2020-10-20 16:54] nataliescottdavidson commented on #1262
Hey @dgitq and others having this issue- we definitely want local development to be smooth and make sure Wrangler dev works with common tools like create-react-app.

I attempted to reproduce this here https://github.com/nataliescottdavidson/reacttalktowranglerdev and was able to connect without seeing CORS issues. Let me know if I missed something.

[2020-10-20 16:54] #1262 closed

[2020-10-20 19:55] nataliescottdavidson commented on #1554
Closing as duplicate of #1510

[2020-10-20 19:55] #1554 closed

[2020-10-20 20:17] nataliescottdavidson commented on #1583
@danbars, sorry you've been waiting on a response for this. I attempted to reproduce but haven't been able to track down the error yet. It may be an environment issue with `npm`. Have you tried clearing your cache and node_modules [like so](https://stackoverflow.com/a/49505612)?

[2020-10-20 21:43] luanraithz commented on #1601
I'm also facing this issue, any workaround @rfilmyer ?

[2020-10-20 22:21] rfilmyer commented on #1601
Not really. I was able to install via NVM with no issues, but the Rust/Cargo install never worked for me.

On Tue, Oct 20, 2020, at 5:43 PM, Luan Raithz Machado wrote:

[2020-10-21 08:07] jctiru commented on #1514
`wrangler login` doesn't work on `git version 2.25.1.windows.1` (git bash) and ` wrangler 1.11.0` even with workarounds. Token is created as seen on dashboard but the terminal hangs indefinitely with `Waiting for API token...`.

[2020-10-21 16:00] nataliescottdavidson commented on #1514
Sorry to hear that... have you navigated to https://dash.cloudflare.com/profile/api-tokens on your account and verified that you have deleted existing "Wrangler Login" tokens?

[2020-10-22 04:49] encadyma commented on #1544
Hey there! As a WSL user, I came across the same issue just today. I'd love to take a swig at this!

[2020-10-22 16:35] yifan97 opened #1612 "Add element under element in htmlRewriter"
So the below handler allows us to do things with `element`. I am wondering how can we append a nested/child element to `element`?

[code]

[2020-10-22 18:46] ObsidianMinor commented on #1612
A child element can be appended to the end of the set of children of an element by using `append` on the element with your content. For more info, [see the docs](https://developers.cloudflare.com/workers/runtime-apis/html-rewriter#element). In the future, you can ask questions like this in the [Cloudflare Community](https://community.cloudflare.com/) under the [Workers topic](https://community.clo

[2020-10-22 18:46] #1612 closed

[2020-10-22 22:16] iandelahorne commented on #1517
This bit us really hard for our CI containers, which just install nodejs and don't use nvm. We had to resort to installing wrangler via cargo which was a bit of a pain.

[2020-10-23 01:01] initplatform commented on #866
@ashleymichal should I open up a new issue for this ^^

[2020-10-23 15:27] ashleymichal commented on #1575
@vladinator1000 this is definitely a good issue; unfortunately it is a cross-platform one that, iiuc, wrangler alone cannot address. i am linking this issue in internal runtime development circles, but i'll have to close it as something this team cannot give. if we see something go on the roadmap about this, we'll update this thread. if i have misunderstood your ask, feel free to comment further.

[2020-10-23 15:37] ashleymichal commented on #1529
Hey @yet-another-dev ! This _does_ feel like a regression. Fundamentally this has to do with the fact that the version of wrangler dev that exists in 1.10.3 is running in our preview service (the same sandboxed process that you work in on cloudflareworkers.com and when you run `wrangler preview`), but v1.11.0 brings the process to the edge, giving you access to APIs that aren't supported in previe

[2020-10-23 16:32] #1575 closed

[2020-10-23 16:35] ashleymichal commented on #1577
i think this is cool and a nice quality of life improvement! i do think we may need to go straight to the workers list, or include a flag for the one you want / env you want.

[2020-10-23 19:53] #1574 closed

[2020-10-23 22:53] vladinator1000 commented on #1575
Sounds great Ashley <3, also I wouldn't be mad if I could entirely skip the JS bit and upload workers entirely in Rust

[2020-10-23 23:35] Ptomerty opened #1614 "'wrangler generate' fails to connect to server on WSL 2"
#### Environment

* operating system: Ubuntu 20.04 (WSL 2), running on Windows 10 2004 build 19041.572
* output of `rustc -V`: rustc 1.47.0 (18bf6b4f0 2020-10-07)
* output of `node -v`: v14.9.0
* output of `wrangler -V`: 👷 ✨  wrangler 1.11.0
* contents of `wrangler.toml`: N/A

#### Steps to reproduce

After installing `wrangler`, create a new directory and run `wrangler generate`. The command will

[2020-10-23 23:57] lizzo-tlg commented on #1397
Up!

[2020-10-26 09:00] meoyawn commented on #1583
same here. Removing Sentry doesn't really help though

[2020-10-26 16:35] nataliescottdavidson commented on #1415
Hey @jpwilliams, to diagnose the error I need to take a look at the logs. Could you email your account id, script name, and zone id (or just your wrangler.toml) to wrangler@cloudflare.com?

[2020-10-26 16:48] meoyawn commented on #1583
@nataliescottdavidson @solbloch @danbars just fixed this by commenting `route` and setting `workers_dev=true` in `wrangler.toml`

[2020-10-26 16:51] jpwilliams commented on #1415
Of course, @nataliescottdavidson. I've sent an email over with my `wrangler.toml` attached.

Shout if you need anything else!

[2020-10-26 21:52] jpwilliams commented on #1415
@nataliescottdavidson I'm afraid my mail to wrangler@cloudflare.com failed:

[code]

[2020-10-27 14:17] wmosquini commented on #1584
Guys, I also have the same problem.

The whole process to clone Github, create and adjust the project works perfectly, the problem occurs only when you define a route and publish the version in CloudFlare, it simply does not work accessing the route.

When trying to access the link inserted in the route, it simply falls directly on page 404. I can only access the project through the temporary link

[2020-10-27 17:07] #980 closed

[2020-10-28 13:53] #1544 closed

[2020-10-28 15:10] #1567 closed

[2020-10-29 05:06] AbhinabKanrar commented on #266
This is still happening for me. Here is the entire log:

[code]

I'm on Ubuntu 18. Can anyone let me kno what needs to be done in order to make it working?

[2020-10-29 14:28] winterssy opened #1622 "Can't install wrangler on windows"
### 🐛 Bug Report

#### Environment

* operating system: `Windows 10 20H2 19042.572`
* output of `node -v`: `v12.19.0`

#### Steps to reproduce

Run the install command via `npm`:

[code]

#### What did you expect to see?

Install wrangler successfully

#### What did you see instead?

Here is the error log:
[code]

It seems it can't download `https://workers.cloudflare.com/get-npm-wrangler-binary/1

[2020-10-29 15:55] nataliescottdavidson commented on #1415
@jpwilliams gah, I'm sorry about that. I'm new to the team and still figuring out some processes. I've changed the permissions to allow non members to post to the group. Would you mind resending the email?

[2020-10-29 18:43] jpwilliams commented on #1415
No worries whatsoever, @nataliescottdavidson!

I've resent the email and it looks like it's gone through fine this time. 👍🏻

[2020-10-29 22:22] erzr commented on #1565
Sorry to dig this back up but I'm having issues with files + KV as well.

I set up a new site `wrangler generate --site my-site` and tried publishing it:

[code]

Nothing seems to get deployed though: https://my-site.aelamarre.workers.dev

[2020-10-29 23:35] HKochniss opened #1624 "Wrangler 0.12 destroys Worker site"
### 🐛 Bug Report
When our CI/CD system (Azure DevOps) automatically pulled the latest 0.12 the deployed worker site had **no assets anymore** resulting in a simple **could not find index.html in your content namespace** error.

When using the following wrangler.toml with 0.11, everything worked when using
`wrangler build --env dev`
`wrangler publish --env dev`
(or --env prod)

_Disturbing_, to say

[2020-10-29 23:40] HKochniss opened #1625 "Wrangler 1.12 publish destroys Worker site"
### 🐛 Bug Report
New wrangler 1.12 destroyed our worker site in Ubuntu CI/CD Agent (and locally reproducible on Windows 10).

"destroyed" means the KV namespace is completely empty after publish, resulting in a simple "could not find index.html in your content namespace" error message when invoking the website

Switching back to wrangler 1.11 (fixing version in CI/CD pipeline) did fix the problem.

[2020-10-30 02:55] rita3ko commented on #1625
Hey @HKochniss! Thanks for reporting this.

We just reverted back the change we think is the culprit — please try wrangler 1.12.1 and let us know if you're still experiencing an issue — we haven't been able to repro so far.

[2020-10-30 08:51] HKochniss commented on #1625
Hrm this deeply confusing on my end.. when I run
`npm uninstall -g @cloudflare/wrangler && npm install -g @cloudflare/wrangler`

it clearly says
[code]

but `wrangler -V` still returns
 wrangler 1.12.0

SO with this "new"(?) version it still doesn't work, published assets are empty. Rolled back to 1.11 to verify it still works on that version.

[2020-10-30 09:04] HKochniss commented on #1625
Ok there might be a red herring with the --env variable

If I remove `--env` param and  I change the original name at top from "" to "wrongdeploy" and then do a simple `wrangler build` and `wrangler publish` it creates that worker, but **still with an empty KV namespace**.

So there might be something special about my payload.

I should note that this is the customer's account and I'm an invited a

[2020-10-30 15:10] nataliescottdavidson commented on #1625
Hey @HKochniss, sorry that this happened. Since we weren't able to reproduce the issue, we reverted a change that seemed to be the most likely culprit. Unfortunately looks like that wasn't it. Can you send your account id to wrangler@cloudflare.com so that I can have a look at the logs to determine where this failure is coming from?

[2020-10-30 15:15] nataliescottdavidson commented on #1601
@rfilmyer do you have perl installed on your machine? That error formatting is kind of crappy, but it's saying that it couldn't find perl.

[2020-10-30 15:58] nataliescottdavidson commented on #1622
Hey @winterssy, we had to deploy a hot fix last night so wrangler is now at 1.12.1. Not sure that the error is related to that (looks similar to an issue we had with getting rate limited where we pull artifacts in a worker). Would you mind trying `npm install -g @cloudflare/wrangler` one more time? Just tried it on windows and was successful.

[2020-10-30 16:25] lynchem opened #1628 "Method to clear the worker cache via wrangler"
### 💡 Feature request

#### Overview and problem statement

We're using our worker as a reverse proxy but when the origin html or css changes the worker is still serving the cached version.

#### Basic example

Our blog exists at blog.domain.com/blog but is accessed via www.domain.com/blog. When we detect any request to assets in the blog folder we make a request to the blog machine.

[code]
We tr

[2020-10-30 16:26] HKochniss commented on #1625
just did with subject "regarding issue 1625"

Had a busy day, will try a repro until tomorrow.

[2020-10-30 16:34] lostpebble commented on #1625
Yep, upgrading to 1.12 caused our site to stop working and return an error as well.

Downgraded to 1.11 and its working now. Also noticed the with the version not changing to 1.12.1 when doing `wrangler -V` - it still displayed `1.12.0`.

[2020-10-30 20:03] #1283 closed

[2020-10-30 20:08] nataliescottdavidson commented on #1525
This is a documentation issue. `wrangler dev` runs on the edge, not your local machine. Calls to localhost:8787 are routed to a preview worker. So your prod workers will be unchanged, but it is a real worker on the edge. You need to be authenticated for that to work.

My understanding is that the old `wrangler dev` is now `wrangler preview`, you can run locally using that.

[2020-10-30 20:16] nataliescottdavidson commented on #1625
@HKochniss @lostpebble still trying to reproduce this, any chance you can share your project structure or private repo?

[2020-10-30 20:27] erzr commented on #1625
@nataliescottdavidson I'll chime in here as well. I could reproduce this with 1.12. Downgrading to 1.11 resolved the issue for me. I added some steps in what I thought could be related issue yesterday: https://github.com/cloudflare/wrangler/issues/1565#issuecomment-719057506

[2020-10-30 21:42] ObsidianMinor commented on #1625
I could reproduce this with a new generated default `site` template as well.

[2020-10-30 21:51] 0dinD commented on #1525
@nataliescottdavidson Thanks for clarifying! However, I don't agree with this statement:

Clearly, I don't need to be authenticated, because the `dev` command works just fine in wrangler `1.10`. In wrangler `1.11`, nothing has changed except for the fact that `dev` will produce an error if `account_id` is empty, which is what this issue is about. The account id is clearly not used for any sort of

[2020-10-31 00:15] winterssy commented on #1622
So sad, the same problem:disappointed_relieved:
[code]

[2020-10-31 17:53] HKochniss commented on #1625
ok so I tried a few things:

- installed wrangler on Windows 10 via cargo, there it gives **correct 1.12.1** via `wrangler -V`, still **doesn't work**, publishs no assets
- switched to private CF Account, still **doesn't work**
- used from-scratch template via `wrangler generate --site my-site` in a worker called "dev" still **doesn't work**
- used from-scratch template via `wrangler generate --si

[2020-11-01 07:45] famzah opened #1632 "wrangler: command not found"
I've installed Wrangler following the instructions in the Dashboard:
`npm install -g @cloudflare/wrangler`

The installation seems to have completed successfully:
[code]

However, the binary is not added in my $PATH and I get the following when executing `wrangler`:
`wrangler: command not found`

I see the following executable files with the name "wrangler" in my home directory:
[code]

Both binar

[2020-11-01 07:46] famzah commented on #1632
This seems related to #266.

[2020-11-01 18:27] Electroid commented on #1628
You can clear cache from the Cloudflare dashboard: https://support.cloudflare.com/hc/en-us/articles/200169246-Purging-cached-resources-from-Cloudflare

[2020-11-02 05:24] chocolatkey commented on #1625
Can confirm, I was very confused. Luckily, decided to go to GitHub issues after exhausting all other options, and found this. Downgrading to 1.11 fixed it

[2020-11-02 13:07] lynchem commented on #1628
Ok, I've since discovered my problem was with the reverse proxy and the origin apache server. Apologies for the noise.

[2020-11-02 13:07] #1628 closed

[2020-11-02 22:15] nataliescottdavidson commented on #1625
@ all who were affected by this, sincere apologies. 1.12.1 does not have the correct fix, 1.12.2 does.

[2020-11-03 13:26] tebb commented on #1514
I also had 'wrangler login' hang, waiting/polling for the token.

The token was being created.  Deleting it and retrying did not work.

Workaround:

Delete any existing token.
Log out via the browser.
Log in *using the tab opened by Wrangler*.

... worked for me.

[2020-11-04 08:11] HKochniss commented on #1625
just to confirm: works now and `wrangler -V` is correctly showing 1.12.2

[2020-11-04 15:27] #1625 closed

[2020-11-04 15:58] #1601 closed

[2020-11-04 16:28] rfilmyer commented on #1601
Apologies. I have been away from my computer for a week and will confirm tonight whether perl is installed. My instinct is no, so I will attempt to install perl and will follow up on the results.

Perl is often not installed on Windows computers so it may be good to note that as a dependency on Windows for the Rust version of the tool

On Wed, Nov 4, 2020, at 10:59 AM, Natalie Davidson wrote:

[2020-11-04 21:49] nataliescottdavidson commented on #1446
@GregBrimble I believe lasso solves this problem. Ok to close?

[2020-11-04 21:52] nataliescottdavidson opened #1639 "wranglerjs error"
[code]

[2020-11-05 20:59] #1533 closed

[2020-11-05 21:18] #1435 closed

[2020-11-05 21:44] nataliescottdavidson commented on #1542
@xtuc Could we be spawning multiple node processes?

[2020-11-05 21:57] nataliescottdavidson commented on #1632
@famzah the wrangler executable should be at `/usr/local/bin/wrangler`. Have you installed `npm` with a version manager such as `nvm`? Your `npm` install can effect where packages get installed

[2020-11-05 22:02] #1490 closed

[2020-11-06 09:34] famzah commented on #1632
Thank you @nataliescottdavidson.

It's probably my custom installation of `npm` that's causing the issue. I've downloaded the "Linux Binaries (x64)" from the official [Node.js](https://nodejs.org/en/download/) website. Then symlink'ed the binary in my $PATH:
[code]

It's logical that I also needed to add `~/.node-v9.4.0-linux-x64/bin` to my $PATH.

---

Alright, then only the other question is sti

[2020-11-06 13:05] samkelleher commented on #1479
I'm on node 15 and have the same issue.

* `npm install @cloudflare/wrangler`
* run `npm run publish` using example package json below, get the above error

example package.json:
[code]

[2020-11-06 13:55] #969 closed

[2020-11-06 16:17] nataliescottdavidson commented on #1489
Hey @jbeeko, I wasn't able to reproduce this. This is my output:
[code]

[2020-11-06 16:17] #1489 closed

[2020-11-06 16:20] nataliescottdavidson commented on #1418
I wasn't able to repro this. My output:
[code]

[2020-11-06 21:22] jcapogna commented on #1129
I'm also having this issue on 1.11.0. I was able to create a secret in the default environment, but not other environments.

[2020-11-08 06:49] ffimnsr commented on #1377
Is there any update for this? currently there are no examples of using KV on rust-wasm, even just API so we can create a crate for it.

[2020-11-08 23:11] bglw commented on #1418
Hi @nataliescottdavidson

Was the worker you tested on trying to use the secret already?
The issue is still reproducible for me by trying to publish a new worker, that has references to a secret.

This line fails if the worker is trying to reference the secret you're trying to upload. It's a chicken egg problem.

[2020-11-09 03:15] bglw commented on #1418
This is a workaround, but extra painful when I'm deploying a new worker from a template that uses multiple secrets throughout the worker. I generally have to remove all the code and deploy a blank worker first, so I can then attach secrets to it.

[2020-11-09 12:05] samkelleher opened #1643 "Feedback: Rethink installation + building"
I want to feedback to the team issues experienced when integrating wrangler into a CI pipeline.

* Even installing wrangler as a project dependency (in out node project), each time it's run, wrangler seems to always want to install a copy of itself (somewhere global). This has been an issue in a dockerised workflow, as it doesn't have permissions for file system access. Please just allow it to use

[2020-11-09 17:54] tsndr commented on #1510
Same problem for me on macOS 10.15, this Issue is open since August, can't someone finally fix this? It's super annoying. 😩

[2020-11-09 20:49] coding-duck commented on #1514
I had the same issue, unfortunately the solution described by @tebb didn't work for me.

After I tried to configure wrangler with "wrangler config" I needed the API token but I couldn't find it.
Whilst trying to figure the token out I figured out that I couldn't update any existing token with the dashboard. Always got this error: "API Request Failed: PUT /api/v4/user/tokens/xyz (500)" Why does tha

[2020-11-09 20:53] koeninger commented on #1377
@ffimnsr if you're looking for examples of calling the JS KV api from rust  e.g. https://github.com/koeninger/rust-kv-example/blob/master/src/lib.rs

[2020-11-10 21:55] GregBrimble commented on #1446
Looks like that failure is now being caught correctly and a better error message is thrown:

[code]

Thanks!

[2020-11-10 21:55] #1446 closed

[2020-11-11 21:45] rslonik commented on #1349
This feature would be very nice. I have my [site] wrangler publish via Github Actions and all the process take some minutes. So if a revert is an option my deploys would be less stressful for sure. 😅

[2020-11-13 21:20] seekingtheoptimal commented on #1514
I've just tried for the first time ever (so no prior tokens whatsoever) and my terminal also hangs with "waiting for api token" forever (VS Code)

[2020-11-15 00:49] seekingtheoptimal commented on #1262
If anybody reads this might help to prevent a few strokes: you need to restart the wrangler dev for some reason, otherwise no matter if you publish your workers or not, it will just be broken and keep throwing cors errors. The wrangler dev just relays the calls to my understanding, so not sure what is going on, but restarting it solved it for me and cors changes been picked up properly after.

[2020-11-17 16:11] essensx opened #1648 "Deploy worker to multiple zones"
### 💡 Feature request

An ability to deploy shared worker to multiple zones (multi domain support).

#### Overview and problem statement

We have hundreds of domains, that need to be deployed on the same account. Our implementation is limited by worker limit and inability to re-use the worker in multiple domains.

Problem more clearly stated here: https://community.cloudflare.com/t/wrangler-deploy

[2020-11-18 14:34] captain-kark commented on #1563
Thanks for the quick turnaround. Just as a note to others searching the issues list in the future, this is now exposed as a separate token permission:

![image](https://user-images.githubusercontent.com/46486335/99543482-84dea280-29b3-11eb-964f-6b030bffd9c7.png)

[2020-11-18 16:36] #1459 closed

[2020-11-18 16:56] lumebug commented on #1511
I believe the way static site hosts like Netlify handle this is by hashing the files first and only uploading the ones that have changed

[2020-11-18 19:49] winstonwolff opened #1652 "`.ignore` files causes `wrangler publish` to skip files"
### 🐛 Bug Report

#### Environment

* operating system: MacOS 10.15.7
* output of `rustc -V`: rustc 1.21.0
* output of `node -v`: v12.14.1
* output of `wrangler -V`: 👷 ✨  wrangler 1.10.1
* contents of `wrangler.toml`:
[code]

#### Steps to reproduce

- I have a `.ignore` file I use to configure `ag` (https://github.com/ggreer/the_silver_searcher) and it contains:
[code]

- I run `wrangler publish`

[2020-11-18 19:58] ObsidianMinor commented on #1652
This doesn't happen with wrangler 1.12.2, as the fix for a previous issue in the release also made the directory walker ignore `.ignore` files.

[2020-11-18 21:30] #1652 closed

[2020-11-20 12:35] jackmawer commented on #1591
I'm receiving the same error, but I'm not certain if my issue is related. I'm running Wrangler 1.12.2 under WSL.

[2020-11-20 15:55] Maxastuart commented on #1529
We are still experiencing this, I think it deserves classification as a bug - a feature that did work in v1.10.3 and does not in any further releases with no warning or documentation or alternatives supposed. Any idea when it may be addressed?

[2020-11-20 19:23] 13r0ck commented on #1479
I was having the same issue. I was unable to get the npm install to work, but I was able to get `cargo install wrangler` to work by installing `perl`.
I'm on Fedora Linux so `sudo dnf install perl -y` worked for me :)

[2020-11-21 00:32] 13r0ck opened #1655 "Question: Using workers.rs instead of workers.js ?"
From the docs:
[code]
Which with the current `wrangler perview/generate/etc` all use javascript for that functionality. I'm wondering if maybe workers.js could be replaced with a rust implementation? Maybe with a crate like [event-listener](https://docs.rs/event-listener/2.5.1/event_listener/index.html)?

Or would it be possible to bypass the js event and get the http request directly and use [roc

[2020-11-21 04:13] 13r0ck commented on #1655
I read more into the [security](https://developers.cloudflare.com/workers/learning/security-model) of workers. Being isolated in the V8 engine it appears that we can only access what is handed to the isolate. Which I'm assuming the http request is parsed by the `Scheduling and Parsing` into the js object, and expects to be returned a js object.

I guess leaving either wait and hope for an update t

[2020-11-21 05:49] qwtel opened #1656 "macOS: The Trust Settings Record was corrupted"
### 🐛 Bug Report

After upgrade to 1.12.2 I see the following when running `wrangler dev`:

[code]

Downgrade to 1.10.3 fixed the issue.

After tracking down the bug, I found similar issues:

* https://github.com/paritytech/polkadot/issues/1295
* https://github.com/ctz/rustls-native-certs/issues/4

What fixed the issue for 1.11.2 was deleting all "weird" certificates in KeyChain Access, but I coul

[2020-11-21 16:00] danihodovic commented on #1514
Same using

[2020-11-22 00:47] jasikpark commented on #1368
Does anyone know of a way to simply browse the logs easily? Or at least pretty print? Can `jq` handle that?

[2020-11-23 00:45] famzah commented on #1632
Hi. Did you have a chance to look into this?

[2020-11-23 11:28] Scotsoo opened #1659 "Wrangler generate running on .github directory"
### 🐛 Bug Report
#### Environment

* operating system: Windows, WSL2 Ubuntu
* output of `rustc -V`: -
* output of `node -v`: v14.15.0
* output of `wrangler -V`: � ✨  wrangler 1.12.2
* contents of `wrangler.toml` -

We've included a github workflow in our template, so CI is setup automatically. Looks like wrangler generate is trying to apply on the `.github/workflows/build.yml` file. Should these b

[2020-11-23 13:17] rslonik commented on #1418
Having this problem again when creating another env in a project that already has a lot of secrets defined.

So I can't define the secrets via wrangler because my project code calls the secrets. Very well defined by @bglw: It's a chicken egg problem.

[2020-11-23 22:57] cyberfox1 commented on #1157
Still hasn't been resolved, still wasting peoples time.

[2020-11-24 09:10] xtuc commented on #1418
Using
[code]
fixes the issue.

That's because the API that validates the worker on upload doesn't fill any of the bindings. GlobalThis is always present and GlobalThis.SECRET will be undefined in the API and filled at runtime.

[2020-11-24 09:10] #1418 closed

[2020-11-24 11:22] dmitryyankowski commented on #1553
Bumping this up as well! I'd love to see this implemented soon (if possible). The only issue i'm having is what the OP explained. I use Workers Sites, however sometimes there's an issue where users will refresh and get a newer `index.html` file, however for some reason the assets within this file don't exist (for whatever reason). I'd like to be able to keep the older files around for say `x` amou

[2020-11-24 21:50] #1655 closed

[2020-11-25 17:56] mgajda opened #1662 "wrangler secret fails with inconsistent error messages for list, put and delete"
### 🐛 Bug Report

Listing returns no secrets:
[code]

Trying to assign secret tells the secret is already assigned:
[code]

Trying to delete secret tells there is no such thing:
[code]
This is `wrangler` version:
[code]
#### Environment

* operating system:
[code]

* output of `rustc -V`: this is NodeJS script only.
* output of `node -v`: `v10.19.0`
* output of `wrangler -V`: `👷 ✨  wrangler 1.12.2

[2020-11-26 19:33] RuslanZavacky commented on #1591
Same error under WSL as @jackmawer

[2020-11-26 19:48] GregBrimble commented on #1608
Think this can probably be closed with the recent announcement that [25MB values are now supported by KV](https://blog.cloudflare.com/workers-kv-free-tier/).